Repository woowacourse-teams/2021-nolto, pull requests merged in 2021-10, with the labels that each got.

#596 [FE] react.js + express SSR
  frontend/.gitignore
  frontend/package.json
  frontend/public/_redirects
  frontend/public/mockServiceWorker.js
  frontend/server/index.tsx
  frontend/src/App.tsx
  frontend/src/components/AsyncBoundary.tsx
  frontend/src/components/CommentModule/@common/Comment/Comment.tsx
  frontend/src/components/CommentModule/@common/CommentForm/CommentForm.tsx
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/LikeButton/LikeButton.tsx
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/components/PrivateRoute.tsx
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/windowDetector.ts
  frontend/src/contexts/dialog/DialogProvider.tsx
  frontend/src/contexts/member/MemberProvider.tsx
  frontend/src/contexts/member/useMember.ts
  frontend/src/contexts/modal/ModalProvider.tsx
  frontend/src/contexts/snackbar/SnackbarProvider.tsx
  frontend/src/hooks/@common/useFocusOut.ts
  frontend/src/hooks/@common/useLike.ts
  frontend/src/hooks/@common/useOnScreen.ts
  frontend/src/hooks/queries/useMember.tsx
  frontend/src/hooks/useOAuthLogin.ts
  frontend/src/hooks/useTheme.ts
  frontend/src/index.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Mypage/Intro/Intro.tsx
  frontend/src/pages/Mypage/Notification/Notification.tsx
  frontend/src/pages/RecentFeeds/RecentFeeds.tsx
  frontend/webpack.common.js
  frontend/webpack.server.js
  frontend/yarn.lock
Labels: 💪 enhancement, 🌈 frontend

#590 [BE] refactor: FFmpeg Path 설정 애플리케이션이 관리하도록 수정
  backend/build.gradle
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageConvertService.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageResizeService.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
  backend/src/main/java/com/wooteco/nolto/image/config/FFmpegConfig.java
  backend/src/main/java/com/wooteco/nolto/image/infrastructure/FFmpegConverter.java
  backend/src/main/java/com/wooteco/nolto/image/infrastructure/ImageSize.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/image/application/ImageConvertServiceTest.java
  backend/src/test/java/com/wooteco/nolto/image/application/adapter/ImageHandlerAdapterTest.java
  backend/src/test/java/com/wooteco/nolto/image/infrastructure/FFmpegConverterTest.java
Labels: 🔨 refactor, 🚀 backend

#592 refactor: PR 템플릿 체크박스 추가
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🔨 refactor, 🌈 frontend, 🚀 backend

#602 feat: refresh token을 통한 토큰 재발급
  backend/build.gradle
  backend/src/docs/asciidoc/auth.adoc
  backend/src/main/java/com/wooteco/nolto/auth/application/AuthService.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/JwtTokenProvider.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/RedisUtil.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/OAuthController.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/RefreshTokenRequest.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/RefreshTokenResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/TokenResponse.java
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/api/OAuthControllerTest.java
  backend/src/test/java/com/wooteco/nolto/auth/application/AuthServiceTest.java
Labels: 📖 documentation, 🔰 feature, 🔨 refactor, 🚀 backend

#594 refactor(): 전반적인 테스트 코드 리팩토링
  backend/src/test/java/com/wooteco/nolto/BaseEntityTest.java
  backend/src/test/java/com/wooteco/nolto/FeedFixture.java
  backend/src/test/java/com/wooteco/nolto/TechFixture.java
  backend/src/test/java/com/wooteco/nolto/UserFixture.java
  backend/src/test/java/com/wooteco/nolto/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/NotificationAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/TechAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/api/CommentControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/ControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/MemberControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/TechControllerTest.java
  backend/src/test/java/com/wooteco/nolto/auth/application/AuthServiceTest.java
  backend/src/test/java/com/wooteco/nolto/config/RestDocsConfiguration.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentLikeServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceFixture.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/CommentTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTechRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
  backend/src/test/java/com/wooteco/nolto/notification/application/NotificationEventTest.java
  backend/src/test/java/com/wooteco/nolto/notification/application/NotificationServiceTest.java
  backend/src/test/java/com/wooteco/nolto/tech/application/TechServiceTest.java
  backend/src/test/java/com/wooteco/nolto/tech/domain/TechRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/user/application/MemberServiceTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
Labels: 🔨 refactor, 🚀 backend, 🔬 test

#603 fix(): 테스트 전 데이터 베이스 초기화
  backend/src/test/java/com/wooteco/nolto/acceptance/AcceptanceTest.java
Labels: 🐞 bug, 🚀 backend

#604 fix(NotificationAcceptanceTest): 필요없는 기술스택 추가하는 테스트 코드 로직 삭제
  backend/src/test/java/com/wooteco/nolto/acceptance/NotificationAcceptanceTest.java
Labels: 🐞 bug, 🚀 backend
