Repository woowacourse-teams/2021-nolto, pull requests merged in 2021-09, with the labels that each got.

#490 [FE] refactor: 메인 페이지 UI 개편
  frontend/src/App.tsx
  frontend/src/assets/carouselArrow.svg
  frontend/src/commonStyles.ts
  frontend/src/components/@common/HighlightedText/HighlightedText.tsx
  frontend/src/components/@common/SOSFlag/SOSFlag.styles.ts
  frontend/src/components/BaseLayout/BaseLayout.styles.tsx
  frontend/src/components/BaseLayout/BaseLayout.tsx
  frontend/src/components/CroppedEllipse/CroppedEllipse.styles.ts
  frontend/src/components/CroppedEllipse/CroppedEllipse.tsx
  frontend/src/components/ErrorFallback/ErrorFallback.styles.ts
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/HotFeedsContent/HotFeedsContent.styles.ts
  frontend/src/components/HotFeedsContent/HotFeedsContent.tsx
  frontend/src/components/LargeFeedCard/LargeFeedCard.stories.tsx
  frontend/src/components/LargeFeedCard/LargeFeedCard.styles.ts
  frontend/src/components/LargeFeedCard/LargeFeedCard.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.styles.ts
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/RegularCard/RegularCard.stories.tsx
  frontend/src/components/RegularCard/RegularCard.tsx
  frontend/src/components/RegularFeedCard/RegularFeedCard.stories.tsx
  frontend/src/components/RegularFeedCard/RegularFeedCard.styles.ts
  frontend/src/components/RegularFeedCard/RegularFeedCard.tsx
  frontend/src/components/SearchOption/SearchOption.styles.ts
  frontend/src/constants/common.ts
  frontend/src/constants/mediaQuery.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Home/HomeFeedsContent/HomeFeedsContent.styles.ts
  frontend/src/pages/Home/HomeFeedsContent/HomeFeedsContent.tsx
  frontend/src/pages/SearchResult/SearchResult.styles.ts
  frontend/src/pages/SearchResult/SearchResult.tsx
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.styles.ts
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.tsx
Labels: 🔨 refactor, 🌈 frontend

#494 feat: 페이지네이션 구현
  backend/src/main/java/com/wooteco/nolto/exception/ControllerAdvice.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Step.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/FeedRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedCardPaginationResponse.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
Labels: 🔰 feature, 🚀 backend

#496 [FE] 마이페이지 디자인 수정 및 반응형 구현
  frontend/src/components/BaseLayout/BaseLayout.styles.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.styles.ts
  frontend/src/constants/mediaQuery.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Mypage/History/History.styles.ts
  frontend/src/pages/Mypage/Intro/Intro.styles.ts
  frontend/src/pages/Mypage/Mypage.styles.ts
  frontend/src/pages/Mypage/Mypage.tsx
  frontend/src/pages/Mypage/Notification/Notification.styles.ts
  frontend/src/pages/Mypage/Notification/Notification.tsx
Labels: 🔨 refactor, 🌈 frontend

#493 feat(): 쿠키를 이용한 조회수 중복 증가 방지
  backend/src/main/java/com/wooteco/nolto/ViewHistoryManager.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
Labels: 🔰 feature, 🚀 backend

#500 [FE] 스켈레톤 UI 새로 만들기
  frontend/src/components/HotFeedsContent/HotFeedsContent.tsx
  frontend/src/components/LargeFeedCard/LargeFeedCard.tsx
  frontend/src/components/LargeSkeleton/LargeSkeleton.stories.tsx
  frontend/src/components/LargeSkeleton/LargeSkeleton.styles.ts
  frontend/src/components/LargeSkeleton/LargeSkeleton.tsx
  frontend/src/components/RegularFeedCard/RegularFeedCard.styles.ts
  frontend/src/components/RegularFeedCard/RegularFeedCard.tsx
  frontend/src/components/RegularSkeleton/RegularSkeleton.stories.tsx
  frontend/src/components/RegularSkeleton/RegularSkeleton.styles.ts
  frontend/src/components/RegularSkeleton/RegularSkeleton.tsx
  frontend/src/pages/Home/HomeFeedsContent/HomeFeedsContent.tsx
Labels: 🔰 feature, 🌈 frontend

#502 [FE] 피드 상세 페이지 반응형 구현
  frontend/src/commonStyles.ts
  frontend/src/components/@common/Chip/Chip.styles.ts
  frontend/src/constants/mediaQuery.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
Labels: 🔰 feature, 🌈 frontend

#504 [FE] 메인 페이지 반응형
  frontend/src/assets/carouselArrow.svg
  frontend/src/assets/downPolygon.svg
  frontend/src/commonStyles.ts
  frontend/src/components/@common/Avatar/Avatar.styles.ts
  frontend/src/components/@common/IconButton/IconButton.stories.tsx
  frontend/src/components/@common/IconButton/IconButton.styles.ts
  frontend/src/components/@common/IconButton/IconButton.tsx
  frontend/src/components/@common/ToggleList/ToggleList.tsx
  frontend/src/components/CommentModule/@common/Comment/Comment.tsx
  frontend/src/components/CommentModule/@common/CommentForm/CommentForm.tsx
  frontend/src/components/CommentModule/SubCommentModule/SubCommentModule.tsx
  frontend/src/components/CroppedEllipse/CroppedEllipse.styles.ts
  frontend/src/components/FeedUploadForm/FeedUploadForm.styles.ts
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/HotFeedsContent/HotFeedsContent.styles.ts
  frontend/src/components/HotFeedsContent/HotFeedsContent.tsx
  frontend/src/components/LargeFeedCard/LargeFeedCard.styles.ts
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.styles.ts
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/RegularFeedCard/RegularFeedCard.styles.ts
  frontend/src/components/SearchBar/SearchBar.styles.ts
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/components/SearchOption/SearchOption.styles.ts
  frontend/src/components/TeamMember/TeamMember.tsx
  frontend/src/components/TrendTechs/TrendTechs.styles.ts
  frontend/src/components/TrendTechs/TrendTechs.tsx
  frontend/src/components/UserProfile/UserProfile.styles.ts
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/constants/styles.ts
  frontend/src/contexts/modal/ModalProvider.styles.ts
  frontend/src/contexts/modal/ModalProvider.tsx
  frontend/src/pages/About/About.styles.ts
  frontend/src/pages/About/About.tsx
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Home/HomeFeedsContent/HomeFeedsContent.styles.ts
  frontend/src/pages/Home/HomeFeedsContent/HomeFeedsContent.tsx
  frontend/src/pages/SearchResult/SearchResult.styles.ts
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.styles.ts
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.tsx
Labels: 🔨 refactor, 🌈 frontend

#507 [FE] sentry 세팅
  frontend/.gitignore
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/constants/message.ts
  frontend/src/index.tsx
  frontend/src/utils/typeGuard.ts
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 🔰 feature, 🌈 frontend

#510 feat(): profile 별 cors의 allow-origin을 다르게 하도록 변경
  backend/src/main/java/com/wooteco/nolto/WebConfig.java
  backend/src/main/resources/application.yml
Labels: 🚀 backend, ✨ deploy

#512 [FE] webpack 분리 및 설정 수정
  frontend/.eslintrc.json
  frontend/.husky/pre-push
  frontend/package.json
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
  frontend/yarn.lock
Labels: 🌈 frontend, 🧹 chore

#513 [FE] 스타일링 세세한 부분 수정
  frontend/src/components/@common/ToggleList/ToggleList.styles.ts
  frontend/src/components/CommentModule/@common/CommentForm/CommentForm.tsx
  frontend/src/components/CroppedEllipse/CroppedEllipse.styles.ts
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.styles.ts
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/RegularFeedCard/RegularFeedCard.styles.ts
  frontend/src/components/TrendTechs/TrendTechs.styles.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/HomeFeedsContent/HomeFeedsContent.styles.ts
  frontend/src/pages/Mypage/Notification/Notification.styles.ts
  frontend/src/pages/Mypage/Notification/Notification.tsx
Labels: 🔨 refactor, 🌈 frontend

#515 [FE] loadable로 코드 스플리팅, SENTRY_DSN 설정
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/index.ts
  frontend/tsconfig.json
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
  frontend/yarn.lock
Labels: 💪 enhancement, 🌈 frontend

#516 [FE] fix: bundle analyzer prod에서 제거
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: 🐞 bug, 🌈 frontend

#521 [FE] chore: api endpoint가 환경변수에 따라 변경 가능
  frontend/src/constants/api.ts
  frontend/webpack.common.js
Labels: 🌈 frontend, 🧹 chore

#527 refactor: 최신 피드 조회 시 변경된 필터 적용
  backend/src/main/java/com/wooteco/nolto/exception/ControllerAdvice.java
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/RecentRequestParams.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/RecentRequestParamsTest.java
Labels: 🔨 refactor, 🚀 backend

#528 [FE] 성능 최적화 이모저모
  frontend/custom.d.ts
  frontend/public/fonts/NotoSansKR-Bold.woff2
  frontend/public/fonts/NotoSansKR-Regular.woff2
  frontend/public/fonts/OpenSans-Bold.ttf
  frontend/public/fonts/OpenSans-Bold.woff2
  frontend/public/fonts/OpenSans-Regular.ttf
  frontend/public/fonts/OpenSans-Regular.woff2
  frontend/public/fonts/WorkSans-BoldItalic.ttf
  frontend/public/fonts/WorkSans-BoldItalic.woff2
  frontend/public/index.html
  frontend/src/Global.styles.ts
  frontend/src/assets/team/amazzi.webp
  frontend/src/assets/team/charlie.webp
  frontend/src/assets/team/joel.webp
  frontend/src/assets/team/mickey.webp
  frontend/src/assets/team/pomo.webp
  frontend/src/assets/team/zig.webp
  frontend/src/components/ErrorFallback/ErrorFallback.styles.ts
  frontend/src/components/TeamMember/TeamMember.styles.ts
  frontend/src/components/TeamMember/TeamMember.tsx
  frontend/src/pages/About/members.ts
  frontend/src/pages/Upload/Upload.tsx
  frontend/src/pages/index.ts
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: 💪 enhancement, 🌈 frontend

#517 feat(application.yml): gzip을 위한 설정 추가
  backend/src/main/resources/application.yml
Labels: 🔰 feature, 🚀 backend

#530 [FE] 로고 수정, 색상 통일, TS 컴파일 에러 모두 픽스
  frontend/src/assets/carouselArrow.svg
  frontend/src/assets/logo.svg
  frontend/src/assets/logoSimple.svg
  frontend/src/assets/logoText.svg
  frontend/src/assets/search.svg
  frontend/src/assets/stacksMore.svg
  frontend/src/commonStyles.ts
  frontend/src/components/@common/Chip/Chip.tsx
  frontend/src/components/@common/FileInput/FileInput.stories.tsx
  frontend/src/components/@common/HighlightedText/HighlightedText.styles.ts
  frontend/src/components/@common/ToggleList/ToggleList.tsx
  frontend/src/components/CommentModule/@common/Comment/Comment.stories.tsx
  frontend/src/components/CommentModule/@common/Comment/Comment.styles.ts
  frontend/src/components/CommentModule/CommentModule.stories.tsx
  frontend/src/components/CommentModule/SubCommentModule/SubCommentModule.stories.tsx
  frontend/src/components/CommentModule/SubCommentModule/SubCommentModule.styles.ts
  frontend/src/components/CommentModule/SubCommentModule/SubCommentModule.tsx
  frontend/src/components/CroppedEllipse/CroppedEllipse.tsx
  frontend/src/components/ErrorFallback/ErrorFallback.styles.ts
  frontend/src/components/FeedDropdown/FeedDropdown.stories.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/LevelButton/LevelButton.styles.ts
  frontend/src/components/LikeButton/LikeButton.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/components/TeamMember/TeamMember.stories.tsx
  frontend/src/components/UserProfile/UserProfile.styles.ts
  frontend/src/constants/palette.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.stories.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.test.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Mypage/History/History.styles.ts
  frontend/src/pages/Mypage/Notification/Notification.styles.ts
  frontend/src/pages/Mypage/Notification/Notification.tsx
Labels: 🔨 refactor, 🌈 frontend

#525 [FE] fix: 검색 결과 페이지 카드 렌더링 수정
  frontend/src/pages/SearchResult/SearchResult.styles.ts
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.styles.ts
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.tsx
Labels: 🐞 bug, 🌈 frontend

#531 [FE] 최신 피드 페이지 무한 스크롤 구현, 필터 변경
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/__mocks__/fixture/Feeds.ts
  frontend/src/__mocks__/msw/handlers.ts
  frontend/src/__tests__/hooks/useRecentFeeds.test.tsx
  frontend/src/components/@common/Chip/Chip.stories.tsx
  frontend/src/components/@common/Toggle/Toggle.styles.ts
  frontend/src/components/@common/Toggle/Toggle.tsx
  frontend/src/components/FeedDropdown/FeedDropdown.stories.tsx
  frontend/src/components/FeedUploadForm/FeedUploadForm.test.tsx
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/components/LargeFeedCard/LargeFeedCard.stories.tsx
  frontend/src/components/LevelButton/LevelButton.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.styles.ts
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/RegularFeedCard/RegularFeedCard.stories.tsx
  frontend/src/components/StepChip/StepChip.stories.tsx
  frontend/src/components/StepChip/StepChip.styles.ts
  frontend/src/components/StepChip/StepChip.tsx
  frontend/src/components/StretchCard/StretchCard.stories.tsx
  frontend/src/constants/common.ts
  frontend/src/hooks/@common/useIntersectionObserver.ts
  frontend/src/hooks/queries/feed/useRecentFeedsLoad.ts
  frontend/src/hooks/queries/useSearch.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Home/HomeFeedsContent/HomeFeedsContent.tsx
  frontend/src/pages/RecentFeeds/RecentFeeds.styles.ts
  frontend/src/pages/RecentFeeds/RecentFeeds.tsx
  frontend/src/pages/SearchResult/SearchResult.tsx
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.stories.tsx
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.tsx
  frontend/src/types.ts
Labels: 🔨 refactor, 🌈 frontend

#532 [FE] refactor: 피드 기본 이미지 파일 수정
  frontend/src/assets/defaultFeed.png
  frontend/src/constants/common.ts
  frontend/webpack.prod.js
Labels: 🔨 refactor, 🌈 frontend

#535 [FE] 몇가지 자잘한 리팩터링
  frontend/src/components/CommentModule/@common/CommentForm/CommentForm.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/HotFeedsContent/HotFeedsContent.tsx
  frontend/src/components/SearchBar/SearchBar.stories.tsx
  frontend/src/components/Searchbar/Searchbar.stories.tsx
  frontend/src/components/Searchbar/Searchbar.styles.ts
  frontend/src/components/Searchbar/Searchbar.tsx
  frontend/src/hooks/queries/useMember.tsx
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.styles.ts
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.tsx
Labels: 🔨 refactor, 🌈 frontend

#539 feat(): 404 not-found에 대해 커스텀 예외 적용
  backend/src/main/java/com/wooteco/nolto/exception/ControllerAdvice.java
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/exception/dto/ExceptionResponse.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/acceptance/CommonAcceptanceTest.java
Labels: 🔰 feature, 🚀 backend

#541 refactor(): 인수테스트 시간 단축을 위한 쿼리로 데이터 베이스 초기화 적용
  backend/src/test/java/com/wooteco/nolto/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/DatabaseCleanup.java
Labels: ❓ question, 🔨 refactor, 🚀 backend, 🔬 test

#537 Refactor: jpa의 n+1 문제 수정
  backend/src/main/java/com/wooteco/nolto/TomcatWebCustomConfig.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feeds.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/FilterStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/FeedTechRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/LikeRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/CommentResponse.java
  backend/src/main/java/com/wooteco/nolto/notification/application/NotificationFeedDeleteEvent.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/TechValidator.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
Labels: 🔨 refactor, 🚀 backend

#538 feat: 검색기능 페이지네이션 구현
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedTechService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/NoneStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/QueryAndTechsStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/QueryOnlyStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/SearchStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/SearchStrategyConfig.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/TechsOnlyStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/FeedRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/RecentRequestParams.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/SearchRequestParams.java
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedTechServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/RecentRequestParamsTest.java
Labels: 🔰 feature, 🚀 backend

#543 feat: gif 파일 mp4파일로 변환하는 기능 구현
  backend/build.gradle
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/image/FileExtension.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageConvertService.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
  backend/src/main/java/com/wooteco/nolto/image/application/adapter/ImageConvertHandler.java
  backend/src/main/java/com/wooteco/nolto/image/application/adapter/ImageHandlerAdapter.java
  backend/src/main/java/com/wooteco/nolto/image/application/adapter/ImageResizeHandler.java
  backend/src/main/java/com/wooteco/nolto/image/config/FFmpegConfig.java
  backend/src/main/java/com/wooteco/nolto/image/domain/ProcessedImage.java
  backend/src/main/java/com/wooteco/nolto/image/domain/repository/ImageRepository.java
  backend/src/main/java/com/wooteco/nolto/image/infrastructure/AwsS3Repository.java
  backend/src/main/java/com/wooteco/nolto/image/infrastructure/FFmpegConverter.java
  backend/src/main/java/com/wooteco/nolto/image/infrastructure/ImageSize.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/image/application/ImageConvertServiceTest.java
  backend/src/test/java/com/wooteco/nolto/image/application/adapter/ImageHandlerAdapterTest.java
  backend/src/test/java/com/wooteco/nolto/image/infrastructure/FFmpegConverterTest.java
  backend/src/test/resources/static/jjv1FK.gif
Labels: 🔰 feature, 🚀 backend

#548 fix(): ffmpeg 경로를 ubuntu에 맞추어 설정
  backend/src/main/resources/application.yml
Labels: 🔨 refactor, 🚀 backend

#534 [FE] 피드 상세 페이지의 카카오톡 공유 버튼
  frontend/custom.d.ts
  frontend/public/index.html
  frontend/src/assets/catError.png
  frontend/src/assets/share.svg
  frontend/src/commonStyles.ts
  frontend/src/components/@common/Dropdown/Dropdown.styles.ts
  frontend/src/components/CommentModule/CommentModule.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/constants/message.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
  frontend/webpack.common.js
  frontend/webpack.prod.js
Labels: 🔰 feature, 🌈 frontend

#549 fix(): api 문서 resource 경로 허용
  backend/src/main/java/com/wooteco/nolto/WebConfig.java
Labels: 🚀 backend

#553 [FE] fix: 카카오 중복 init 오류 수정
  frontend/custom.d.ts
  frontend/src/App.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.test.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
Labels: 🐞 bug, 🌈 frontend

#555 [FE] refactor: mp4 썸네일 대응
  frontend/src/components/FeedThumbnail/FeedThumbnail.stories.tsx
  frontend/src/components/FeedThumbnail/FeedThumbnail.tsx
  frontend/src/components/LargeFeedCard/LargeFeedCard.tsx
  frontend/src/components/RegularFeedCard/RegularFeedCard.styles.ts
  frontend/src/components/RegularFeedCard/RegularFeedCard.tsx
  frontend/src/components/StretchCard/StretchCard.stories.tsx
  frontend/src/components/StretchCard/StretchCard.styles.ts
  frontend/src/components/StretchCard/StretchCard.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/pages/Mypage/History/History.styles.ts
  frontend/src/pages/Mypage/History/History.tsx
Labels: 💪 enhancement, 🔨 refactor, 🌈 frontend

#544 [FE] FeedDropdown, LoginModal 테스트 작성
  frontend/src/__mocks__/fixture/User.ts
  frontend/src/__mocks__/msw/handlers.ts
  frontend/src/components/FeedDropdown/FeedDropdown.test.tsx
  frontend/src/components/LevelButton/LevelButton.stories.tsx
  frontend/src/components/LevelButton/LevelButton.styles.ts
  frontend/src/components/LevelButton/LevelButton.tsx
  frontend/src/components/LoginModal/LoginModal.test.tsx
  frontend/src/components/StepChip/StepChip.styles.ts
  frontend/src/pages/Modify/Modify.tsx
  frontend/src/pages/Upload/Upload.tsx
  frontend/src/test-util.tsx
Labels: 🌈 frontend, 🔬 test

#552 [FE] focus out 컨트롤 훅 구현
  frontend/src/components/@common/Dropdown/Dropdown.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/SearchOption/SearchOption.tsx
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/contexts/techTag/input/TechInput.tsx
  frontend/src/hooks/@common/useFocusOut.ts
  frontend/src/hooks/@common/useIntersectionObserver.ts
  frontend/src/pages/Mypage/History/History.tsx
  frontend/src/utils/common.ts
Labels: 🔰 feature, 🌈 frontend

#550 [FE] 마크다운 기능
  frontend/package.json
  frontend/src/commonStyles.ts
  frontend/src/components/FeedUploadForm/FeedUploadForm.styles.ts
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/constants/palette.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/pages/Modify/Modify.styles.ts
  frontend/src/pages/Modify/Modify.tsx
  frontend/src/pages/Upload/Upload.styles.ts
  frontend/src/pages/Upload/Upload.tsx
  frontend/yarn.lock
Labels: 🔰 feature, 🌈 frontend

#557 [FE] refactor: 검색 결과 페이지 필터 & 무한스크롤
  frontend/src/hooks/queries/feed/useRecentFeedsLoad.ts
  frontend/src/hooks/queries/useSearch.ts
  frontend/src/pages/SearchResult/SearchResult.tsx
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.stories.tsx
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.styles.ts
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.tsx
  frontend/src/types.ts
Labels: 🔨 refactor, 🌈 frontend

#558 [FE] Kakao init 중복 에러 수정
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
Labels: 🐞 bug, 🌈 frontend

#559 [FE] chore: prod 빌드에 source-map 포함
  frontend/webpack.prod.js
Labels: 🌈 frontend, 🧹 chore

#560 fix: withCredential 적용
  backend/src/main/java/com/wooteco/nolto/WebConfig.java
Labels: 🐞 bug, 🚀 backend

#566 refactor: image 변환시 투명 배경을 유지할 수 있도록 ImageType 변경
  backend/src/main/java/com/wooteco/nolto/image/application/ImageResizeService.java
Labels: 🔨 refactor, 🚀 backend

#564 [FE] 검색 결과 페이지 검색 아이콘 표시, 피드 전체보기 시 마크다운 제거
  frontend/package.json
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/components/LargeFeedCard/LargeFeedCard.tsx
  frontend/src/components/RegularFeedCard/RegularFeedCard.tsx
  frontend/src/constants/message.ts
  frontend/src/contexts/dialog/DialogProvider.styles.ts
  frontend/src/hooks/queries/useMember.tsx
  frontend/src/pages/Mypage/History/History.tsx
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.styles.ts
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.tsx
  frontend/src/utils/common.ts
  frontend/yarn.lock
Labels: 🔨 refactor, 🌈 frontend

#567 [FE] refactor: 마크다운 스타일 수정
  frontend/.husky/pre-push
  frontend/package.json
  frontend/src/components/@common/Markdown/Markdown.styles.ts
  frontend/src/components/@common/Markdown/Markdown.tsx
  frontend/src/components/FeedUploadForm/FeedUploadForm.styles.ts
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/constants/api.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
  frontend/yarn.lock
Labels: 🔨 refactor, 🌈 frontend

#568 [FE] fix: syntax highlighter 제거
  frontend/package.json
  frontend/src/components/@common/Markdown/Markdown.styles.ts
  frontend/src/components/@common/Markdown/Markdown.tsx
  frontend/yarn.lock
Labels: 🐞 bug, 🌈 frontend

#570 refactor: 특정 환경에서 BufferedImage.TYPE_INT_ARGB 이미지 타입이 .jpg 확장자에 적용되면 에러가 나는 현상 수정
  backend/src/main/java/com/wooteco/nolto/image/application/ImageResizeService.java
  backend/src/test/resources/static/mickey.png
Labels: 🔨 refactor, 🚀 backend

#572 refactor: 유저 프로필 기본 이미지 변경
  backend/src/main/java/com/wooteco/nolto/image/application/ImageKind.java
  backend/src/main/resources/application.yml
Labels: 🔨 refactor, 🚀 backend

#573 fix: 이미지 배경 투명이 적용 안되는 버그 수정
  backend/src/main/java/com/wooteco/nolto/image/application/ImageResizeService.java
Labels: 🐞 bug, 🚀 backend

#575 추석 테마 구현
  frontend/custom.d.ts
  frontend/src/App.tsx
  frontend/src/Global.styles.ts
  frontend/src/assets/luckyBag.png
  frontend/src/assets/moonRabbit.gif
  frontend/src/components/CroppedEllipse/CroppedEllipse.styles.ts
  frontend/src/components/CroppedEllipse/CroppedEllipse.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/TrendTechs/TrendTechs.styles.ts
  frontend/src/hooks/useTheme.ts
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
  frontend/styled.d.ts
  frontend/themes.ts
  frontend/webpack.common.js
Labels: 🌈 frontend, ✨ deploy

#577 [FE] v2.0.0 FE hot fix
  frontend/src/Global.styles.ts
  frontend/src/components/@common/SOSFlag/SOSFlag.styles.ts
  frontend/src/components/FeedThumbnail/FeedThumbnail.styles.ts
  frontend/src/components/FeedThumbnail/FeedThumbnail.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/useTheme.ts
  frontend/themes.ts
Labels: 🐞 bug, 🌈 frontend

#578 fix(): 쿠키에 same-site none 설정 추가
  backend/src/main/java/com/wooteco/nolto/ViewHistoryManager.java
Labels: 🐞 bug, 🚀 backend

#580 [FE] fix: 스타일 수정
  frontend/src/Global.styles.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
Labels: 🐞 bug, 🌈 frontend

#583 fix: user image mp4 대응
  frontend/src/components/@common/Avatar/Avatar.styles.ts
  frontend/src/components/@common/Avatar/Avatar.tsx
  frontend/src/components/FeedThumbnail/FeedThumbnail.tsx
  frontend/src/components/UserProfile/UserProfile.styles.ts
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/pages/Mypage/Intro/Intro.styles.ts
  frontend/src/pages/Mypage/Intro/Intro.tsx
  frontend/src/pages/Upload/Upload.tsx
Labels: 🐞 bug, 🌈 frontend

#584 fix: 구글, 깃헙 기본 프로필 이미지 확장자 대응
  frontend/src/components/FeedThumbnail/FeedThumbnail.tsx
Labels: 🐞 bug, 🌈 frontend

#586 [FE] fix: declare 파일을 분리하여 svg import 문제 수정
  frontend/custom.d.ts
  frontend/global.d.ts
  frontend/tsconfig.json
Labels: 🐞 bug, 🌈 frontend

#488 refactor(): Comment 삭제 로직 변경
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/CommentRepository.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
Labels: 🔨 refactor, 🚀 backend
