Repository woowacourse-teams/2021-nolto, pull requests merged in 2021-08, with the labels that each got.

#318 [FE] fix: api 통신에서 에러가 발생한 페이지에 재접속 시 데이터를 다시 불러오도록 수정
  frontend/custom.d.ts
  frontend/src/assets/catError.jpeg
  frontend/src/assets/catError.png
  frontend/src/components/@common/ErrorFallback/ErrorFallback.tsx
  frontend/src/components/ErrorFallback/ErrorFallback.stories.tsx
  frontend/src/components/ErrorFallback/ErrorFallback.styles.ts
  frontend/src/components/ErrorFallback/ErrorFallback.tsx
  frontend/src/constants/palette.ts
  frontend/src/pages/FeedDetail/FeedDetail.tsx
  frontend/src/pages/Home/Home.tsx
Labels: 🌈 frontend, 🐞 bug

#315 [FE] refactor: 최신 피드 & 검색 결과 페이지에서 피드가 넘칠 때 arrow 버튼 추가
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.styles.ts
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/SearchResultContent/SearchResultContent.styles.ts
  frontend/src/components/SearchResultContent/SearchResultContent.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/RecentFeeds/RecentFeeds.styles.ts
  frontend/src/pages/SearchResult/SearchResult.styles.ts
Labels: 🌈 frontend, 🔨 refactor

#320 [FE] refactor: 검색옵션 열릴 때 부드러운 효과
  frontend/src/components/SearchOption/SearchOption.styles.ts
  frontend/src/components/SearchOption/SearchOption.tsx
Labels: 🌈 frontend, 🔨 refactor

#322 [FE] 잘못된 end point로 요청 시 스낵바가 뜨지 않던 현상 수정
  frontend/src/commonStyles.ts
  frontend/src/components/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/components/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/utils/error.ts
Labels: 🌈 frontend, 🐞 bug

#324 [FE] feat: 놀토 팀 소개 페이지 구현
  frontend/src/App.tsx
  frontend/src/assets/team/amazzi.png
  frontend/src/assets/team/charlie.png
  frontend/src/assets/team/joel.png
  frontend/src/assets/team/mickey.png
  frontend/src/assets/team/pomo.png
  frontend/src/assets/team/zig.png
  frontend/src/components/Header/Header.tsx
  frontend/src/components/TeamMember/TeamMember.stories.tsx
  frontend/src/components/TeamMember/TeamMember.styles.ts
  frontend/src/components/TeamMember/TeamMember.tsx
  frontend/src/constants/palette.ts
  frontend/src/constants/routes.ts
  frontend/src/pages/About/About.stories.tsx
  frontend/src/pages/About/About.styles.ts
  frontend/src/pages/About/About.tsx
  frontend/src/pages/About/members.ts
Labels: 🌈 frontend, 🔰 feature

#325 [FE] fix: made를 make로 변경
  frontend/src/pages/About/About.tsx
Labels: 🌈 frontend, 🔨 refactor

#326 [FE] fix: v2.0 QA 버그 픽스
  frontend/src/components/@common/FileInput/FileInput.tsx
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/components/TeamMember/TeamMember.tsx
  frontend/src/components/UserProfile/UserProfile.styles.ts
  frontend/src/context/modal/ModalProvider.tsx
Labels: 🌈 frontend, 🐞 bug

#328 피드의 "content" 컬럼 타입 수정 및 feed 매핑 url에 정규 표현식 적용
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/resources/db/migration/V2__change_feed_content_type.sql
Labels: 🐞 bug, 🔨 refactor, 🚀 backend

#335 feat(comment): 댓글 엔티티 작성 및 flyway 스크립트 추가
  backend/src/main/java/com/wooteco/nolto/BaseEntity.java
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/LikeService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/CommentLike.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/CommentRepository.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/Tech.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/resources/db/migration/V3__add_comment.sql
  backend/src/main/resources/db/migration/V4__change_modified_not_null.sql
Labels: 🔰 feature, 🚀 backend

#339 feat(comment): CommentService, CommentController 작성
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentService.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/CommentController.java
Labels: 🔰 feature, 🚀 backend

#332 [FE] refactor: notification을 dialog로 변경
  frontend/.storybook/preview-body.html
  frontend/.storybook/preview.js
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/FeedDropdown/FeedDropdown.tsx
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/components/LikeButton/LikeButton.tsx
  frontend/src/components/PrivateRoute.tsx
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/constants/zIndex.ts
  frontend/src/context/dialog/DialogProvider.stories.tsx
  frontend/src/context/dialog/DialogProvider.styles.ts
  frontend/src/context/dialog/DialogProvider.tsx
  frontend/src/context/dialog/useDialog.ts
  frontend/src/context/notification/NotificationProvider.stories.tsx
  frontend/src/context/notification/useNotification.ts
  frontend/src/hooks/queries/useMember.tsx
  frontend/src/pages/Modify/Modify.tsx
  frontend/src/types.ts
Labels: 🌈 frontend, 🔨 refactor

#333 [FE] Mypage 마크업
  frontend/src/App.tsx
  frontend/src/assets/arrowReturnRight.svg
  frontend/src/assets/camera.svg
  frontend/src/assets/check.svg
  frontend/src/assets/noteEdit.svg
  frontend/src/components/@common/Dropdown/Dropdown.styles.ts
  frontend/src/components/UserProfile/UserProfile.styles.ts
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/constants/palette.ts
  frontend/src/constants/routes.ts
  frontend/src/pages/Mypage/History/History.stories.tsx
  frontend/src/pages/Mypage/History/History.styles.ts
  frontend/src/pages/Mypage/History/History.tsx
  frontend/src/pages/Mypage/Intro/Intro.stories.tsx
  frontend/src/pages/Mypage/Intro/Intro.styles.ts
  frontend/src/pages/Mypage/Intro/Intro.tsx
  frontend/src/pages/Mypage/Mypage.stories.tsx
  frontend/src/pages/Mypage/Mypage.styles.ts
  frontend/src/pages/Mypage/Mypage.tsx
  frontend/src/pages/Mypage/Notification/Notification.stories.tsx
  frontend/src/pages/Mypage/Notification/Notification.styles.ts
  frontend/src/pages/Mypage/Notification/Notification.tsx
  frontend/src/types.ts
Labels: 🌈 frontend, 🔰 feature

#344 [FE] Comment 관련 컴포넌트들 구현
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/__mocks__/fixture/User.ts
  frontend/src/__mocks__/msw/browser.ts
  frontend/src/__mocks__/msw/handlers.ts
  frontend/src/assets/pencil.svg
  frontend/src/assets/reply.svg
  frontend/src/assets/send.svg
  frontend/src/assets/thumb.svg
  frontend/src/assets/trash.svg
  frontend/src/components/@common/TextInput/TextInput.styles.ts
  frontend/src/components/@common/Toggle/Toggle.styles.ts
  frontend/src/components/CommentBox/Comment/Comment.stories.tsx
  frontend/src/components/CommentBox/Comment/Comment.styles.ts
  frontend/src/components/CommentBox/Comment/Comment.tsx
  frontend/src/components/CommentBox/CommentBox.stories.tsx
  frontend/src/components/CommentBox/CommentBox.styles.ts
  frontend/src/components/CommentBox/CommentBox.tsx
  frontend/src/components/CommentBox/CommentForm/CommentForm.stories.tsx
  frontend/src/components/CommentBox/CommentForm/CommentForm.styles.ts
  frontend/src/components/CommentBox/CommentForm/CommentForm.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/palette.ts
  frontend/src/types.ts
  frontend/src/utils/common.ts
  frontend/src/utils/typeGuard.ts
Labels: 🌈 frontend, 🔰 feature

#346 [FE] refactor: 폴더 구조 재정비
  frontend/src/pages/FeedDetail/FeedDetail.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.stories.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.test.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/pages/SearchResult/SearchResult.tsx
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.stories.tsx
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.styles.ts
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.tsx
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.stories.tsx
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.styles.ts
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.tsx
Labels: 🌈 frontend, 🔨 refactor

#347 feat: 유저 히스토리 조회 기능 구현
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/wooteco/nolto/user/application/UserService.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/java/com/wooteco/nolto/user/ui/UserController.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/CommentHistoryResponse.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/FeedHistoryResponse.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/MemberHistoryResponse.java
  backend/src/test/java/com/wooteco/nolto/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/UserControllerTest.java
  backend/src/test/java/com/wooteco/nolto/user/application/UserServiceTest.java
Labels: 🔰 feature, 🚀 backend

#300 [FE] query mutation hook 테스트 작성
  frontend/jest.config.js
  frontend/src/__mocks__/fileMock.tsx
  frontend/src/__mocks__/fixture/Feeds.ts
  frontend/src/__mocks__/msw/handlers.ts
  frontend/src/__mocks__/svgrMock.tsx
  frontend/src/__tests__/hooks/useFeedDelete.test.tsx
  frontend/src/__tests__/hooks/useFeedLike.test.tsx
  frontend/src/__tests__/hooks/useFeedModify.test.tsx
  frontend/src/__tests__/hooks/useFeedUnlike.test.tsx
  frontend/src/__tests__/hooks/useRecentFeeds.test.tsx
  frontend/src/setUpTests.ts
  frontend/src/test-util.tsx
  frontend/yarn.lock
Labels: 🌈 frontend, 🔬 test

#348 feat(): user 엔티티 수정 및 프로필 관련 기능 구현
  backend/src/docs/asciidoc/feed.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/auth/application/AuthService.java
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageKind.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
  backend/src/main/java/com/wooteco/nolto/user/application/MemberService.java
  backend/src/main/java/com/wooteco/nolto/user/application/UserService.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/java/com/wooteco/nolto/user/domain/UserRepository.java
  backend/src/main/java/com/wooteco/nolto/user/ui/MemberController.java
  backend/src/main/java/com/wooteco/nolto/user/ui/UserController.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/MemberResponse.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/NicknameValidationResponse.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/ProfileRequest.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/ProfileResponse.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V5__change_user_filed.sql
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/api/MemberControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/UserControllerTest.java
  backend/src/test/java/com/wooteco/nolto/auth/application/AuthServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedTechServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/searchstrategy/SearchStrategyFactoryTest.java
  backend/src/test/java/com/wooteco/nolto/image/application/ImageServiceTest.java
  backend/src/test/java/com/wooteco/nolto/user/application/MemberServiceTest.java
  backend/src/test/java/com/wooteco/nolto/user/application/UserServiceTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
Labels: 🔰 feature, 🚀 backend

#349 feat(comment): 댓글 기능 구현
  backend/src/main/java/com/wooteco/nolto/BaseEntity.java
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentLikeService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/CommentLike.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Like.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/CommentLikeRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/CommentRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/CommentController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/AuthorResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/CommentRequest.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/CommentResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/CommentWithReplyResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedCardResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/ReplyRequest.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/ReplyResponse.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/test/java/com/wooteco/nolto/BaseEntityTest.java
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentLikeServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceFixture.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/CommentTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
Labels: 🔰 feature, 🚀 backend

#352 feat: 대댓글 추가/수정/삭제/전체 조회 구현 및 API 명세 작성
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/reply.adoc
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/CommentLike.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/CommentRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/CommentController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/ReplyRequest.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/ReplyResponse.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/TechValid.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/java/com/wooteco/nolto/user/ui/MemberController.java
  backend/src/test/java/com/wooteco/nolto/BaseEntityTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/TechAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/api/CommentControllerTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
Labels: 🔰 feature, 🚀 backend

#350 [FE] Comment 컴포넌트 OS별로 스타일링 깨지는 이슈 수정
  frontend/src/Global.styles.ts
  frontend/src/components/CommentBox/Comment/Comment.styles.ts
  frontend/src/components/CommentBox/CommentForm/CommentForm.styles.ts
Labels: 🔨 refactor, 🌈 frontend

#356 fix: 대댓글을 조회한다. 최신 순으로 대댓글이 나열 (아마찌 -> 포모 -> 조엘) 테스트 깨지는 것 수정
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
Labels: 🔰 feature, 🚀 backend

#357 fix: 시간 관련 테스트 수정
  backend/src/main/java/com/wooteco/nolto/exception/ControllerAdvice.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
Labels: 🐞 bug, 🚀 backend

#353 feat: 대댓글 좋아요 기능 구현 및 API 명세 작성
  backend/src/docs/asciidoc/reply.adoc
  backend/src/main/java/com/wooteco/nolto/feed/ui/CommentController.java
  backend/src/test/java/com/wooteco/nolto/api/CommentControllerTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentLikeServiceTest.java
Labels: 🔰 feature, 🚀 backend

#365 feat: 알림 기능 구현
  backend/src/docs/asciidoc/tech.adoc
  backend/src/main/java/com/wooteco/nolto/NoltoApplication.java
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/LikeService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/notification/application/NotificationEvent.java
  backend/src/main/java/com/wooteco/nolto/notification/application/NotificationEventHandler.java
  backend/src/main/java/com/wooteco/nolto/notification/application/NotificationService.java
  backend/src/main/java/com/wooteco/nolto/notification/domain/Notification.java
  backend/src/main/java/com/wooteco/nolto/notification/domain/NotificationRepository.java
  backend/src/main/java/com/wooteco/nolto/notification/domain/NotificationType.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/Tech.java
  backend/src/main/java/com/wooteco/nolto/user/application/MemberService.java
  backend/src/main/java/com/wooteco/nolto/user/ui/MemberController.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/FeedNotificationResponse.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/MemberResponse.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/NotificationResponse.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/ProfileResponse.java
  backend/src/main/resources/db/migration/V6__add_notification.sql
  backend/src/test/java/com/wooteco/nolto/api/MemberControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/TechControllerTest.java
Labels: 📖 documentation, 🔰 feature, 🔨 refactor, 🚀 backend

#377 fix: 좋아요 취소 버그 수정
  backend/src/main/java/com/wooteco/nolto/feed/application/LikeService.java
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
Labels: 🐞 bug, 🚀 backend

#361 [FE] fix: errorfallback의 메시지 중앙 정렬 수정
  frontend/src/components/ErrorFallback/ErrorFallback.styles.ts
Labels: 🐞 bug, 🌈 frontend

#362 [FE] 각종 CSS 트랜지션 작성, commonStyle로 분리
  frontend/src/commonStyles.ts
  frontend/src/components/@common/FileInput/FileInput.styles.ts
  frontend/src/components/@common/IconButton/IconButton.styles.ts
  frontend/src/components/@common/TextButton/TextButton.styles.ts
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/LevelButton/LevelButton.styles.ts
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.styles.ts
  frontend/src/components/RegularCard/RegularCard.styles.ts
  frontend/src/components/StretchCard/StretchCard.styles.ts
  frontend/src/components/UserProfile/UserProfile.styles.ts
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Mypage/History/History.styles.ts
  frontend/src/pages/Mypage/Intro/Intro.styles.ts
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.styles.ts
Labels: 🔨 refactor, 🌈 frontend

#364 [FE] Trend 기술스택 컴포넌트 분리 & api 연동
  frontend/src/components/TrendTechs/TrendTechs.stories.tsx
  frontend/src/components/TrendTechs/TrendTechs.styles.ts
  frontend/src/components/TrendTechs/TrendTechs.tsx
  frontend/src/hooks/queries/useTrendTechs.ts
  frontend/src/pages/Home/Home.tsx
Labels: 🔰 feature, 🌈 frontend

#375 [FE] feat: 피드 skeleton ui 구현
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/Skeleton/Skeleton.stories.tsx
  frontend/src/components/Skeleton/Skeleton.styles.ts
  frontend/src/components/Skeleton/Skeleton.tsx
  frontend/src/components/StretchCard/StretchCard.styles.ts
  frontend/src/constants/palette.ts
Labels: 🔰 feature, 🌈 frontend

#382 refactor(comment & reply): 댓글과 대댓글 api 에서 중복 제거
  backend/src/docs/asciidoc/comment.adoc
  backend/src/docs/asciidoc/reply.adoc
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/CommentController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/CommentWithReplyResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/ReplyRequest.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/test/java/com/wooteco/nolto/api/CommentControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/MemberControllerTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceFixture.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/CommentTest.java
  backend/src/test/java/com/wooteco/nolto/user/application/MemberServiceTest.java
Labels: 🔨 refactor, 🚀 backend

#386 refactor(comment): 댓글 삭제시 모든 연관관계를 끊어주도록 수정
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/CommentLike.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
Labels: 🔨 refactor, 🚀 backend

#387 fix(comment): 댓글 삭제 테스트 중 실패하던 것 수정
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/CommentLike.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceFixture.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
Labels: 🐞 bug, 🚀 backend

#355 [FE] test: FeedDetailContent, LikeButton 테스트
  frontend/jest.config.js
  frontend/src/components/LikeButton/LikeButton.stories.tsx
  frontend/src/components/LikeButton/LikeButton.test.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.test.tsx
Labels: 🌈 frontend, 🔬 test

#391 [FE] test: FeedUploadForm 테스트
  frontend/src/__mocks__/fixture/Feeds.ts
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/components/FeedUploadForm/FeedUploadForm.test.tsx
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
Labels: 🌈 frontend, 🔬 test

#360 [FE] Mypage의 Intro, Notification, History api 연동
  frontend/src/__mocks__/fixture/User.ts
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/components/UserProfile/UserProfile.styles.ts
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/constants/common.ts
  frontend/src/constants/message.ts
  frontend/src/context/dialog/DialogProvider.styles.ts
  frontend/src/context/dialog/DialogProvider.tsx
  frontend/src/hooks/queries/profile/useNicknameCheck.ts
  frontend/src/hooks/queries/profile/useNotiDelete.ts
  frontend/src/hooks/queries/profile/useNotiLoad.ts
  frontend/src/hooks/queries/profile/useProfileEdit.ts
  frontend/src/hooks/queries/profile/useProfileLoad.ts
  frontend/src/hooks/queries/useMember.tsx
  frontend/src/hooks/queries/userHistory/useUserHistory.ts
  frontend/src/pages/Mypage/History/History.styles.ts
  frontend/src/pages/Mypage/History/History.tsx
  frontend/src/pages/Mypage/Intro/Intro.styles.ts
  frontend/src/pages/Mypage/Intro/Intro.tsx
  frontend/src/pages/Mypage/Mypage.tsx
  frontend/src/pages/Mypage/Notification/Notification.styles.ts
  frontend/src/pages/Mypage/Notification/Notification.tsx
  frontend/src/types.ts
Labels: 🔰 feature, 🌈 frontend

#395 test(): 프로필 관련 인수 테스트 작성
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/NicknameValidationResponse.java
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
Labels: 🚀 backend, 🔬 test

#394 fix(): 기존 닉네임과 동일한 경우 예외를 발생시키던 버그 수정
  backend/src/main/java/com/wooteco/nolto/user/application/MemberService.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/test/java/com/wooteco/nolto/user/application/MemberServiceTest.java
Labels: 🚀 backend

#384 test: 댓글/좋아요 알림 인수테스트/서비스 테스트 구현
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/acceptance/NotificationAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/notification/application/NotificationEventTest.java
Labels: 🔨 refactor, 🚀 backend, 🔬 test

#393 test: 트렌드 테크 테스트 코드 작성
  backend/src/docs/asciidoc/comment.adoc
  backend/src/docs/asciidoc/reply.adoc
  backend/src/docs/asciidoc/tech.adoc
  backend/src/test/java/com/wooteco/nolto/acceptance/TechAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/tech/application/TechServiceTest.java
  backend/src/test/java/com/wooteco/nolto/tech/domain/TechRepositoryTest.java
Labels: 🚀 backend, 🔬 test

#374 test: 시간 관련 테스트 Thread.sleep(1) 적용
  backend/src/test/java/com/wooteco/nolto/BaseEntityTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
Labels: 🚀 backend, 🔬 test

#383 test: 히스토리 인수 테스트
  backend/src/test/java/com/wooteco/nolto/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/UserAcceptanceTest.java
Labels: 🚀 backend, 🔬 test

#398 test(comment&reply): 댓글&대댓글 인수테스트 작성
  backend/src/main/java/com/wooteco/nolto/exception/ControllerAdvice.java
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentLikeService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/CommentController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/CommentRequest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentLikeServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
Labels: 🚀 backend, 🔬 test

#397 feat: 대댓글에 대한 알림 기능 추가 및 알림 기능 컨트롤러 테스트 작성
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/LikeService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/notification/application/NotificationCommentDeleteEvent.java
  backend/src/main/java/com/wooteco/nolto/notification/application/NotificationEvent.java
  backend/src/main/java/com/wooteco/nolto/notification/application/NotificationEventHandler.java
  backend/src/main/java/com/wooteco/nolto/notification/application/NotificationFeedDeleteEvent.java
  backend/src/main/java/com/wooteco/nolto/notification/application/NotificationService.java
  backend/src/main/java/com/wooteco/nolto/notification/domain/Notification.java
  backend/src/main/java/com/wooteco/nolto/notification/domain/NotificationRepository.java
  backend/src/main/java/com/wooteco/nolto/notification/domain/NotificationType.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/CommentNotificationResponse.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/NotificationResponse.java
  backend/src/main/resources/db/migration/V7__add_comment_to_notification.sql
  backend/src/test/java/com/wooteco/nolto/api/MemberControllerTest.java
  backend/src/test/java/com/wooteco/nolto/notification/application/NotificationEventTest.java
Labels: 🔰 feature, 🚀 backend

#404 fix: 댓글 좋아요순 -> 최신순으로 변경
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/CommentRepository.java
  backend/src/test/java/com/wooteco/nolto/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceFixture.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
Labels: 🐞 bug, 🚀 backend

#396 [FE] refactor: snackbar 네이밍 통일
  frontend/.storybook/preview.js
  frontend/src/App.tsx
  frontend/src/components/FeedDropdown/FeedDropdown.tsx
  frontend/src/components/HotFeedsContent/HotFeedsContent.stories.tsx
  frontend/src/components/HotFeedsContent/HotFeedsContent.tsx
  frontend/src/components/LikeButton/LikeButton.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/TrendTechs/TrendTechs.tsx
  frontend/src/constants/zIndex.ts
  frontend/src/context/snackBar/SnackBarProvider.stories.tsx
  frontend/src/context/snackBar/SnackBarProvider.tsx
  frontend/src/context/snackBar/useSnackBar.ts
  frontend/src/context/snackBar/useSnackBarProvider.ts
  frontend/src/context/snackbar/SnackbarProvider.stories.tsx
  frontend/src/context/snackbar/SnackbarProvider.styles.ts
  frontend/src/context/snackbar/SnackbarProvider.tsx
  frontend/src/context/snackbar/useSnackbar.ts
  frontend/src/context/snackbar/useSnackbarProvider.ts
  frontend/src/context/techTag/input/TechInput.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/pages/Modify/Modify.tsx
  frontend/src/pages/Mypage/History/History.tsx
  frontend/src/pages/Mypage/Intro/Intro.tsx
  frontend/src/pages/Mypage/Notification/Notification.tsx
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.tsx
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.tsx
  frontend/src/pages/Upload/Upload.tsx
  frontend/src/test-util.tsx
  frontend/src/types.ts
Labels: 🔨 refactor, 🌈 frontend

#406 [FE] snackBar를 snackbar로 변경
  frontend/.storybook/preview.js
  frontend/src/App.tsx
  frontend/src/components/CommentModule/@common/Comment/Comment.tsx
  frontend/src/components/CommentModule/useComment.ts
  frontend/src/components/CommentModule/useCommentModule.ts
  frontend/src/components/FeedDropdown/FeedDropdown.tsx
  frontend/src/components/HotFeedsContent/HotFeedsContent.stories.tsx
  frontend/src/components/HotFeedsContent/HotFeedsContent.tsx
  frontend/src/components/LikeButton/LikeButton.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/TrendTechs/TrendTechs.tsx
  frontend/src/contexts/snackBar/SnackBarProvider.stories.tsx
  frontend/src/contexts/snackBar/SnackBarProvider.tsx
  frontend/src/contexts/snackBar/useSnackBar.ts
  frontend/src/contexts/snackBar/useSnackBarProvider.ts
  frontend/src/contexts/snackbar/SnackbarProvider.stories.tsx
  frontend/src/contexts/snackbar/SnackbarProvider.styles.ts
  frontend/src/contexts/snackbar/SnackbarProvider.tsx
  frontend/src/contexts/snackbar/useSnackbar.ts
  frontend/src/contexts/snackbar/useSnackbarProvider.ts
  frontend/src/contexts/techTag/input/TechInput.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/pages/Modify/Modify.tsx
  frontend/src/pages/Mypage/History/History.tsx
  frontend/src/pages/Mypage/Intro/Intro.tsx
  frontend/src/pages/Mypage/Notification/Notification.tsx
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.tsx
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.tsx
  frontend/src/pages/Upload/Upload.tsx
  frontend/src/test-util.tsx
  frontend/src/types.ts
Labels: 🔨 refactor, 🌈 frontend

#408 Fix(comment&reply): 댓글에 좋아요가 눌러져있는 상태에서 삭제 시 예외가 발생하는 에러 수정
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/CommentLike.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/CommentRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/CommentController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/CommentResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/CommentWithReplyResponse.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/test/java/com/wooteco/nolto/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/api/CommentControllerTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
Labels: 🐞 bug, 🚀 backend

#409 fix(comment&reply): 커밋 안된 부분 추가
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/CommentRepository.java
  backend/src/test/java/com/wooteco/nolto/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
Labels: 🐞 bug, 🚀 backend

#411 feat: jacoco gradle 추가
  backend/build.gradle
Labels: 🔰 feature, 🚀 backend

#412 [FE] feat: Mypage 알림 클릭 시 해당 피드(또는 댓글)로 이동
  frontend/src/components/@common/Loading/Loading.tsx
  frontend/src/components/CommentModule/@common/Comment/Comment.tsx
  frontend/src/components/CommentModule/CommentModule.tsx
  frontend/src/hooks/queries/profile/useNotiLoad.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/pages/Mypage/Notification/Notification.styles.ts
  frontend/src/pages/Mypage/Notification/Notification.tsx
  frontend/src/types.ts
Labels: 🔰 feature, 🌈 frontend

#413 fix: fixture thread sleep 추가
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceFixture.java
Labels: 🐞 bug, 🚀 backend

#414 feat: jacoco rule 추가
  backend/build.gradle
Labels: 🔰 feature, 🚀 backend

#419 [FE] fix: QA 핫픽스
  frontend/src/components/CommentModule/@common/Comment/Comment.styles.ts
  frontend/src/components/FeedDropdown/FeedDropdown.tsx
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/pages/Mypage/Notification/Notification.tsx
Labels: 🐞 bug, 🌈 frontend

#421 [hotifx] fix: 윈도우에서 profile 글자 깨짐 현상 수정
  frontend/src/pages/Mypage/History/History.styles.ts
Labels: 🔰 feature, 🌈 frontend

#420 refactor: History 최신순으로 반환하도록 수정
  backend/src/main/java/com/wooteco/nolto/user/application/MemberService.java
  backend/src/test/java/com/wooteco/nolto/user/application/MemberServiceTest.java
Labels: 🔨 refactor, 🚀 backend

#424 fix: comment 한번에 저장되는 이슈 thread.sleep(1)으로 해결
  backend/src/test/java/com/wooteco/nolto/user/application/MemberServiceTest.java
Labels: 🚀 backend, 🔬 test

#417 refactor: 소나 큐브 코드 스멜에 나온 간단한 수정 사항들 반영
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/auth/domain/SocialOAuthInfo.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/AuthorizationExtractor.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/GithubClient.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/GithubOAuthInfo.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/GoogleClient.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/GoogleOAuthInfo.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/OAuthClientDetail.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/OAuthRedirectResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Comment.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Like.java
  backend/src/test/java/com/wooteco/nolto/acceptance/CommentAcceptanceTest.java
Labels: 🔨 refactor, 🚀 backend

#415 test: 트랜잭션 시점에 대한 이벤트 리스너 테스트 코드 구현
  backend/src/test/java/com/wooteco/nolto/notification/application/NotificationServiceTest.java
Labels: 🚀 backend, 🔬 test

#427 fix(MemberServiceTest): saveAndFlush를 통해 저장 순서 보장하여 테스트하도록 수정
  backend/src/test/java/com/wooteco/nolto/user/application/MemberServiceTest.java
Labels: 🐞 bug, 🚀 backend

#426 refactor: 알림에 대한 본인 검증 로직 구현
  backend/src/main/java/com/wooteco/nolto/notification/application/NotificationEvent.java
  backend/src/main/java/com/wooteco/nolto/notification/application/NotificationService.java
  backend/src/test/java/com/wooteco/nolto/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/notification/application/NotificationEventTest.java
Labels: 🔨 refactor, 🚀 backend

#429 fix(reply): 대댓글 작성자와 피드 작성자가 일치할 때 isFeedAuthor 가 false 로 응답하는 버그 수정
  backend/src/main/java/com/wooteco/nolto/feed/application/CommentService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/CommentRepository.java
  backend/src/test/java/com/wooteco/nolto/acceptance/CommentAcceptanceTest.java
Labels: 🐞 bug, 🚀 backend

#431 fix(MemberServiceTest): 생성 시 User/Feed/Comment/Like 연관관계 제거
  backend/src/test/java/com/wooteco/nolto/user/application/MemberServiceTest.java
Labels: 🐞 bug, 🚀 backend

#433 fix(): 이미지 파일 이름 생성 시 uuid를 쓰도록 변경
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
Labels: 🐞 bug, 🚀 backend

#435 refactor: thread sleep 제거
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/CommentRepository.java
  backend/src/main/java/com/wooteco/nolto/user/application/MemberService.java
  backend/src/test/java/com/wooteco/nolto/BaseEntityTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceFixture.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
Labels: 🐞 bug, 🚀 backend

#437 [FE] 2차 UT 이것저것 수정
  frontend/src/components/@common/Avatar/Avatar.tsx
  frontend/src/components/FeedUploadForm/FeedUploadForm.styles.ts
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/components/TrendTechs/TrendTechs.styles.ts
  frontend/src/components/UserProfile/UserProfile.styles.ts
  frontend/src/hooks/queries/profile/useNicknameCheck.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Mypage/History/History.styles.ts
  frontend/src/pages/Mypage/History/History.tsx
  frontend/src/pages/Mypage/Intro/Intro.styles.ts
  frontend/src/pages/Mypage/Intro/Intro.tsx
  frontend/src/pages/Mypage/Notification/Notification.styles.ts
  frontend/src/pages/Mypage/Notification/Notification.tsx
  frontend/src/pages/Upload/Upload.tsx
  frontend/src/types.ts
  frontend/src/utils/common.ts
Labels: 🔨 refactor, 🌈 frontend

#423 feat: Home 반응형 적용
  frontend/src/Global.styles.ts
  frontend/src/assets/logoSimple.svg
  frontend/src/commonStyles.ts
  frontend/src/components/@common/Avatar/Avatar.styles.ts
  frontend/src/components/CroppedEllipse/CroppedEllipse.styles.ts
  frontend/src/components/CroppedEllipse/CroppedEllipse.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/HotFeedsContent/HotFeedsContent.styles.ts
  frontend/src/components/LevelButton/LevelButton.styles.ts
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.styles.ts
  frontend/src/components/RegularCard/RegularCard.styles.ts
  frontend/src/components/SearchBar/SearchBar.styles.ts
  frontend/src/components/SearchOption/SearchOption.styles.ts
  frontend/src/components/StretchCard/StretchCard.styles.ts
  frontend/src/components/TrendTechs/TrendTechs.styles.ts
  frontend/src/constants/mediaQuery.ts
  frontend/src/pages/Home/Home.styles.ts
Labels: 🔰 feature, 🌈 frontend

#439 feat(): cloud-watch 연동을 위한 애플리케이션 설정 추가
  backend/build.gradle
  backend/src/main/resources/application.yml
Labels: 🚀 backend

#442 [FE] feat: 에러 코드 매핑
  frontend/src/constants/errorCodeMap.ts
Labels: 🔰 feature, 🌈 frontend

#444 [FE] 댓글을 여러줄로 작성할 수 있도록 수정
  frontend/src/components/@common/AutoHeightTextArea/AutoHeightTextArea.styles.ts
  frontend/src/components/@common/AutoHeightTextArea/AutoHeightTextArea.tsx
  frontend/src/components/CommentModule/@common/Comment/Comment.styles.ts
  frontend/src/components/CommentModule/@common/Comment/Comment.tsx
  frontend/src/components/CommentModule/@common/CommentForm/CommentForm.styles.ts
  frontend/src/components/CommentModule/@common/CommentForm/CommentForm.tsx
  frontend/src/components/CommentModule/SubCommentModule/SubCommentModule.styles.ts
  frontend/src/components/CommentModule/SubCommentModule/SubCommentModule.tsx
  frontend/src/contexts/snackbar/SnackbarProvider.styles.ts
Labels: 🔰 feature, 🌈 frontend

#446 [FE] chore: gzip 관련 플러그인 설치
  frontend/package.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 🌈 frontend, 🧹 chore

#447 refactor: info/error log 컬러 제거
  backend/src/main/resources/logback-spring.xml
Labels: 🔨 refactor, 🚀 backend

#452 [FE] fix: 윈도우에서 깨지는 레이아웃 수정
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/TrendTechs/TrendTechs.styles.ts
  frontend/src/pages/About/members.ts
Labels: 🐞 bug, 🌈 frontend

#451 refactor(): 전체적인 코드 리팩토링
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/AuthInterceptor.java
  backend/src/main/java/com/wooteco/nolto/exception/dto/ExceptionResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/SearchStrategy.java
  backend/src/test/java/com/wooteco/nolto/feed/application/CommentServiceTest.java
Labels: 🔨 refactor, 🚀 backend

#454 feat: 이미지 리사이징 기능 구현
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageResizeService.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
  backend/src/test/java/com/wooteco/nolto/image/application/ImageResizeServiceTest.java
  backend/src/test/resources/static/car-picture.jpg
Labels: 🔰 feature, 🚀 backend

#459 refactor(): 인수 테스트 전반적인 리팩토링
  backend/src/test/java/com/wooteco/nolto/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/NotificationAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/TechAcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/UserAcceptanceTest.java
Labels: 🔨 refactor, 🚀 backend, 🔬 test

#460 feat: sql 에러 로그 추가
  backend/build.gradle
  backend/src/main/java/com/wooteco/nolto/exception/ControllerAdvice.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/local-file-logger.xml
  backend/src/main/resources/logback-spring.xml
Labels: 🔰 feature, 🚀 backend

#462 fix: 로그 파일 load 가능하도록 수정
  backend/src/main/resources/local-file-logger.xml
  backend/src/main/resources/logback-spring.xml
Labels: 🐞 bug, 🚀 backend

#464 fix(user): bio 필드가 null일 경우 ""로 값을 주도록 변경
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
Labels: 🔨 refactor, 🚀 backend

#468 [FE] 개발자 도구에 나오는 에러 제거
  frontend/src/assets/arrowReturnRight.svg
  frontend/src/assets/arrowUp.svg
  frontend/src/assets/camera.svg
  frontend/src/assets/carouselArrow.svg
  frontend/src/assets/check.svg
  frontend/src/assets/crossMark.svg
  frontend/src/assets/downPolygon.svg
  frontend/src/assets/errorSign.svg
  frontend/src/assets/filledLikeHeart.svg
  frontend/src/assets/githubLogo.svg
  frontend/src/assets/googleLogo.svg
  frontend/src/assets/horse.svg
  frontend/src/assets/likeHeart.svg
  frontend/src/assets/logo.svg
  frontend/src/assets/logoSimple.svg
  frontend/src/assets/moreArrow.svg
  frontend/src/assets/noteEdit.svg
  frontend/src/assets/pencil.svg
  frontend/src/assets/questionMark.svg
  frontend/src/assets/reply.svg
  frontend/src/assets/search.svg
  frontend/src/assets/send.svg
  frontend/src/assets/sosFlag.svg
  frontend/src/assets/stacksMore.svg
  frontend/src/assets/successSign.svg
  frontend/src/assets/thumb.svg
  frontend/src/assets/toybox.svg
  frontend/src/assets/trash.svg
  frontend/src/assets/viewCount.svg
  frontend/src/components/@common/TextButton/TextButton.styles.ts
  frontend/src/components/@common/TextButton/TextButton.tsx
  frontend/src/components/@common/ToggleList/ToggleList.styles.ts
  frontend/src/components/@common/ToggleList/ToggleList.tsx
  frontend/src/components/CommentModule/SubCommentModule/SubCommentModule.styles.ts
  frontend/src/components/CommentModule/SubCommentModule/SubCommentModule.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/SearchOption/SearchOption.styles.ts
  frontend/src/components/SearchOption/SearchOption.tsx
  frontend/src/contexts/techTag/chip/TechChips.styles.ts
  frontend/src/contexts/techTag/chip/TechChips.tsx
  frontend/src/hooks/queries/feed/useFeedDetail.ts
  frontend/src/hooks/queries/feed/useRecentFeedsLoad.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
Labels: 🐞 bug, 🌈 frontend

#467 [FE] refactor: hook test 경로 수정
  frontend/src/__tests__/hooks/useFeedDelete.test.tsx
Labels: 🐞 bug, 🌈 frontend

#465 [FE] UI 이모저모 수정
  frontend/src/commonStyles.ts
  frontend/src/components/@common/Chip/Chip.styles.ts
  frontend/src/components/@common/FileInput/FileInput.styles.ts
  frontend/src/components/@common/IconButton/IconButton.styles.ts
  frontend/src/components/BaseLayout/BaseLayout.styles.tsx
  frontend/src/components/BaseLayout/BaseLayout.tsx
  frontend/src/components/CommentModule/@common/Comment/Comment.styles.ts
  frontend/src/components/FeedUploadForm/FeedUploadForm.styles.ts
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.styles.ts
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/RegularCard/RegularCard.styles.ts
  frontend/src/components/StepChip/StepChip.styles.ts
  frontend/src/components/StepChip/StepChip.tsx
  frontend/src/components/StretchCard/StretchCard.styles.ts
  frontend/src/components/TeamMember/TeamMember.styles.ts
  frontend/src/components/UserProfile/UserProfile.styles.ts
  frontend/src/constants/common.ts
  frontend/src/contexts/dialog/DialogProvider.styles.ts
  frontend/src/contexts/modal/ModalProvider.styles.ts
  frontend/src/pages/About/About.styles.ts
  frontend/src/pages/About/About.tsx
  frontend/src/pages/FeedDetail/FeedDetail.tsx
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Modify/Modify.styles.ts
  frontend/src/pages/Modify/Modify.tsx
  frontend/src/pages/Mypage/History/History.styles.ts
  frontend/src/pages/Mypage/History/History.tsx
  frontend/src/pages/Mypage/Intro/Intro.styles.ts
  frontend/src/pages/Mypage/Mypage.styles.ts
  frontend/src/pages/Mypage/Mypage.tsx
  frontend/src/pages/Mypage/Notification/Notification.styles.ts
  frontend/src/pages/RecentFeeds/RecentFeeds.styles.ts
  frontend/src/pages/RecentFeeds/RecentFeeds.tsx
  frontend/src/pages/SearchResult/SearchResult.styles.ts
  frontend/src/pages/SearchResult/SearchResult.tsx
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.styles.ts
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.tsx
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.styles.ts
  frontend/src/pages/Upload/Upload.tsx
  frontend/src/types.ts
Labels: 🔨 refactor, 🌈 frontend

#471 [FE] fix: 데모데이 전 최종 버그 수정
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Mypage/History/History.tsx
  frontend/src/pages/Mypage/Notification/Notification.styles.ts
  frontend/src/pages/SearchResult/SearchResultContent/SearchResultContent.tsx
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.styles.ts
  frontend/src/pages/SearchResult/SearchResultHeader/SearchResultHeader.tsx
Labels: 🐞 bug, 🌈 frontend

#470 [FE] fix: 모두읽음으로 표시 => 윈도우에서 깨지는 현상 수정
  frontend/src/pages/Mypage/Notification/Notification.styles.ts
Labels: 🐞 bug, 🌈 frontend

#473 fix: resizedFile 객체 삭제
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
Labels: 🐞 bug, 🚀 backend

#476 fix(): 톰캣 문제로 인한 특수 문자 쿼리 허용
  backend/src/main/java/com/wooteco/nolto/TomcatWebCustomConfig.java
Labels: 🐞 bug, 🚀 backend

#477 docs(): 놀토 리드미 초안 작성
  README.md
Labels: 📖 documentation, 🌈 frontend, 🚀 backend

#486 refactor: ErrorFallback 디자인 변경
  frontend/src/components/ErrorFallback/ErrorFallback.styles.ts
  frontend/src/components/ErrorFallback/ErrorFallback.tsx
Labels: 🔨 refactor, 🌈 frontend

#484 refactor: SOSFlag 리디자인
  frontend/src/components/@common/Chip/Chip.stories.tsx
  frontend/src/components/@common/SOSFlag/SOSFlag.stories.tsx
  frontend/src/components/@common/SOSFlag/SOSFlag.styles.ts
  frontend/src/components/@common/SOSFlag/SOSFlag.tsx
  frontend/src/constants/palette.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/pages/FeedDetail/FeedDetailContent/FeedDetailContent.tsx
Labels: 🔨 refactor, 🌈 frontend
