Repository woowacourse-teams/2021-nolto, pull requests merged in 2021-07, with the labels that each got.

#3 chore: webpack, babel 설정
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc
  frontend/index.html
  frontend/package.json
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: feature

#5 feat: backend 초기 설정
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/wooteco/nolto/NoltoApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/wooteco/nolto/NoltoApplicationTests.java
Labels: feature

#7 feat: 엔티티 클래스 정의
  backend/build.gradle
  backend/src/main/java/com/wooteco/nolto/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/domain/Like.java
  backend/src/main/java/com/wooteco/nolto/domain/Step.java
  backend/src/main/java/com/wooteco/nolto/domain/Tech.java
  backend/src/main/java/com/wooteco/nolto/domain/User.java
  backend/src/main/resources/application.properties
Labels: feature

#16 feat: styled components, storybook 세팅 및 react entry point 설정
  frontend/.eslintrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.storybook/webpack.config.js
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/Global.styles.ts
  frontend/src/constants/palette.ts
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: feature

#19 feat: Button 컴포넌트 구현
  frontend/src/components/@common/Button/Button.stories.tsx
  frontend/src/components/@common/Button/Button.styles.ts
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/types.ts
Labels: feature

#17 feat: 로그인 기능 추가
  backend/build.gradle
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/NoltoApplication.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Like.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Step.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/Tech.java
  backend/src/main/java/com/wooteco/nolto/user/application/AuthService.java
  backend/src/main/java/com/wooteco/nolto/user/application/NotFoundException.java
  backend/src/main/java/com/wooteco/nolto/user/domain/AuthenticationPrincipal.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/java/com/wooteco/nolto/user/domain/UserRepository.java
  backend/src/main/java/com/wooteco/nolto/user/infrastructure/AuthorizationExtractor.java
  backend/src/main/java/com/wooteco/nolto/user/infrastructure/JwtTokenProvider.java
  backend/src/main/java/com/wooteco/nolto/user/ui/AuthController.java
  backend/src/main/java/com/wooteco/nolto/user/ui/AuthenticationPrincipalArgumentResolver.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/TokenRequest.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/TokenResponse.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
Labels: feature

#21 feat: 글 작성 기능 추가
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/FeedRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Step.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedRequest.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedResponse.java
  backend/src/main/java/com/wooteco/nolto/user/ui/AuthController.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
Labels: feature

#23 feat: 피드 단일 조회 기능 추가
  backend/build.gradle
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/NotFoundException.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Like.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Step.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedAuthorResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedDetailResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedSimpleResponse.java
  backend/src/main/java/com/wooteco/nolto/tech/ui/dto/TechResponse.java
  backend/src/main/java/com/wooteco/nolto/user/AuthenticationPrincipalConfig.java
  backend/src/main/java/com/wooteco/nolto/user/application/AuthService.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/java/com/wooteco/nolto/user/ui/AuthController.java
  backend/src/main/resources/logback-access.xml
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
Labels: feature

#29 feat: Card 컴포넌트 구현
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/custom.d.ts
  frontend/package.json
  frontend/src/assets/sosFlag.svg
  frontend/src/commonStyles.ts
  frontend/src/components/@common/Avatar/Avatar.stories.tsx
  frontend/src/components/@common/Avatar/Avatar.styles.ts
  frontend/src/components/@common/Avatar/Avatar.tsx
  frontend/src/components/@common/Button/Button.styles.ts
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/Chip/Chip.stories.tsx
  frontend/src/components/@common/Chip/Chip.styles.ts
  frontend/src/components/@common/Chip/Chip.tsx
  frontend/src/components/RegularCard/RegularCard.stories.tsx
  frontend/src/components/RegularCard/RegularCard.styles.ts
  frontend/src/components/RegularCard/RegularCard.tsx
  frontend/src/components/StretchCard/StretchCard.stories.tsx
  frontend/src/components/StretchCard/StretchCard.styles.ts
  frontend/src/components/StretchCard/StretchCard.tsx
  frontend/src/constants/palette.ts
  frontend/src/types.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: feature, frontend

#31 feat: HighlightedText 구현
  frontend/src/components/@common/HighlightedText/HighlightedText.stories.tsx
  frontend/src/components/@common/HighlightedText/HighlightedText.styles.ts
  frontend/src/components/@common/HighlightedText/HighlightedText.tsx
Labels: feature, frontend

#32 feat: 좋아요 및 로그인 관련 WebConfig 추가
  backend/src/main/java/com/wooteco/nolto/AuthorizationException.java
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/auth/AuthenticationPrincipalConfig.java
  backend/src/main/java/com/wooteco/nolto/auth/MemberAuthenticationPrincipal.java
  backend/src/main/java/com/wooteco/nolto/auth/UserAuthenticationPrincipal.java
  backend/src/main/java/com/wooteco/nolto/auth/application/AuthService.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/AuthorizationExtractor.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/JwtTokenProvider.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/AuthController.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/AuthInterceptor.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/MemberArgumentResolver.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/UserArgumentResolver.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/TokenRequest.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/TokenResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/LikeService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Like.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/LikeRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedDetailResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedResponse.java
  backend/src/main/java/com/wooteco/nolto/user/AuthenticationPrincipalConfig.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/java/com/wooteco/nolto/user/ui/AuthenticationPrincipalArgumentResolver.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
Labels: backend, feature

#33 feat: 최신 피드 조회 기능 구현
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Filter.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedCardResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedSimpleResponse.java
Labels: backend, feature

#35 feat(hot-feeds): 핫 토이 피드 조회 기능 추가
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/UserArgumentResolver.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feeds.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/FilterStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/logback-access.xml
Labels: backend, feature

#38 feat: form의 label 컴포넌트 구현
  frontend/src/components/@common/Label/Label.stories.tsx
  frontend/src/components/@common/Label/Label.styles.ts
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/constants/palette.ts
Labels: feature, frontend

#42 feat: IconButton 컴포넌트 구현
  frontend/src/assets/pencil.svg
  frontend/src/components/@common/Button/Button.stories.tsx
  frontend/src/components/@common/IconButton/IconButton.stories.tsx
  frontend/src/components/@common/IconButton/IconButton.styles.ts
  frontend/src/components/@common/IconButton/IconButton.tsx
  frontend/src/components/@common/TextButton/TextButton.stories.tsx
  frontend/src/components/@common/TextButton/TextButton.styles.ts
  frontend/src/components/@common/TextButton/TextButton.tsx
Labels: feature, frontend

#43 feat: Searchbar 컴포넌트 구현
  frontend/src/assets/search.svg
  frontend/src/components/Searchbar/Searchbar.stories.tsx
  frontend/src/components/Searchbar/Searchbar.styles.ts
  frontend/src/components/Searchbar/Searchbar.tsx
Labels: feature, frontend

#44 chore: storybook 절대경로 import 이슈 수정
  frontend/.storybook/main.js
  frontend/.storybook/webpack.config.js
  frontend/package.json
  frontend/yarn.lock
Labels: frontend, refactor

#46 feat: LevelLinkButton 컴포넌트 구현
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/Global.styles.ts
  frontend/src/components/LevelLinkButton/LevelLinkButton.stories.tsx
  frontend/src/components/LevelLinkButton/LevelLinkButton.styles.ts
  frontend/src/components/LevelLinkButton/LevelLinkButton.tsx
  frontend/yarn.lock
Labels: feature, frontend

#48 feat: CroppedEllipse 컴포넌트 구현
  frontend/src/App.tsx
  frontend/src/assets/horse.svg
  frontend/src/components/CroppedEllipse/CroppedEllipse.stories.tsx
  frontend/src/components/CroppedEllipse/CroppedEllipse.styles.ts
  frontend/src/components/CroppedEllipse/CroppedEllipse.tsx
Labels: feature, frontend

#50 feat: Header 컴포넌트 구현
  frontend/src/App.tsx
  frontend/src/assets/logo.svg
  frontend/src/assets/search.svg
  frontend/src/components/@common/IconButton/IconButton.styles.ts
  frontend/src/components/@common/TextButton/TextButton.styles.ts
  frontend/src/components/CroppedEllipse/CroppedEllipse.tsx
  frontend/src/components/Header/Header.stories.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/webpack.config.js
Labels: bug, feature, frontend

#56 refactor: header 크기 수정, svg 크기 작성 방식 수정
  frontend/src/App.tsx
  frontend/src/assets/horse.svg
  frontend/src/assets/logo.svg
  frontend/src/assets/search.svg
  frontend/src/components/@common/HighlightedText/HighlightedText.styles.ts
  frontend/src/components/@common/IconButton/IconButton.styles.ts
  frontend/src/components/@common/IconButton/IconButton.tsx
  frontend/src/components/CroppedEllipse/CroppedEllipse.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/constants/palette.ts
Labels: feature, refactor

#57 build: profile별 환경 설정 추가
  backend/build.gradle
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: backend

#58 feat: BaseLayout 컴포넌트 구현
  frontend/.storybook/preview.js
  frontend/src/App.tsx
  frontend/src/components/BaseLayout/BaseLayout.stories.tsx
  frontend/src/components/BaseLayout/BaseLayout.styles.ts
  frontend/src/components/BaseLayout/BaseLayout.tsx
  frontend/src/components/Header/Header.styles.ts
Labels: feature, frontend

#59 fix: storybook에 BaseLayout 삭제
  frontend/.storybook/preview.js
Labels: frontend, refactor

#63 fix: Button의 onClick이 동작하지 않는 문제
  frontend/src/components/@common/IconButton/IconButton.tsx
  frontend/src/components/@common/TextButton/TextButton.tsx
Labels: bug, frontend

#64 fix: application yml 수정
  backend/src/main/resources/application.yml
Labels: backend

#71 [FE]fix: eslint 설정이 잘못되어있었던 문제 수정
  frontend/.eslintrc.json
Labels: bug, frontend

#74 [FE] Upload 페이지 컴포넌트 구현
  frontend/src/commonStyles.ts
  frontend/src/components/@common/FileInput/FileInput.stories.tsx
  frontend/src/components/@common/FileInput/FileInput.styles.ts
  frontend/src/components/@common/FileInput/FileInput.tsx
  frontend/src/components/@common/HighlightedText/HighlightedText.tsx
  frontend/src/components/@common/Label/Label.styles.ts
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/components/@common/Toggle/Toggle.styles.ts
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/pages/Upload/Upload.stories.tsx
  frontend/src/pages/Upload/Upload.styles.ts
  frontend/src/pages/Upload/Upload.tsx
Labels: feature, frontend

#76 [FE] feat: FeedDetail 페이지 구현
  frontend/src/assets/dots.svg
  frontend/src/assets/likeHeart.svg
  frontend/src/assets/stacksMore.svg
  frontend/src/assets/viewCount.svg
  frontend/src/components/LevelLinkButton/LevelLinkButton.styles.ts
  frontend/src/pages/FeedDetail/FeedDetail.stories.tsx
  frontend/src/pages/FeedDetail/FeedDetail.styles.ts
  frontend/src/pages/FeedDetail/FeedDetail.tsx
Labels: feature, frontend

#80 [FE] refactor: BaseLayout 삭제, 페이지에 따라 다른 Header 구현
  frontend/src/App.tsx
  frontend/src/assets/logo.svg
  frontend/src/components/BaseLayout/BaseLayout.stories.tsx
  frontend/src/components/BaseLayout/BaseLayout.styles.ts
  frontend/src/components/BaseLayout/BaseLayout.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/pages/Home/Home.tsx
Labels: frontend, refactor

#84 refactor: Feeds 요청 Dto 양식 수정
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedCardResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedDetailResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedSimpleResponse.java
Labels: backend, refactor

#90 feat(CORS): CORS 설정 추가
  backend/src/main/java/com/wooteco/nolto/WebConfig.java
Labels: backend, feature

#91 deploy: CORS 설정 추가
  backend/src/main/java/com/wooteco/nolto/WebConfig.java
Labels: backend, deploy

#97 hotfix(): cloud-front url에 https 명시
  backend/src/main/resources/application.yml
Labels: bug

#100 [FE] hot feeds, recent feeds를 가져와서 보여줘야 해요
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/constants/routes.ts
  frontend/src/hooks/useHotFeeds.ts
  frontend/src/hooks/useRecentFeeds.ts
  frontend/src/pages/Home/Home.stories.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: feature, frontend

#102 [FE] feed upload 기능 구현
  frontend/.storybook/preview.js
  frontend/src/assets/pencil.svg
  frontend/src/components/@common/Checkbox/Checkbox.tsx
  frontend/src/components/@common/FileInput/FileInput.styles.ts
  frontend/src/components/@common/FileInput/FileInput.tsx
  frontend/src/components/@common/FormInput/FormInput.tsx
  frontend/src/components/@common/RadioButton/RadioButton.stories.tsx
  frontend/src/components/@common/RadioButton/RadioButton.styles.ts
  frontend/src/components/@common/RadioButton/RadioButton.tsx
  frontend/src/components/@common/TextArea/TextArea.tsx
  frontend/src/components/@common/Toggle/Toggle.styles.ts
  frontend/src/components/@common/Toggle/Toggle.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/useUploadFeed.ts
  frontend/src/pages/Upload/Upload.stories.tsx
  frontend/src/pages/Upload/Upload.tsx
  frontend/src/types.ts
Labels: feature, frontend

#105 feat: DTO validation 추가
  backend/src/main/java/com/wooteco/nolto/auth/ui/AuthController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
Labels: backend, feature

#88 test(UserRepository): UserRepository에 대한 테스트 작성
  backend/src/main/java/com/wooteco/nolto/NotFoundException.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
Labels: backend, test

#92 필수 기능 구현 및 테스트 코드 작성
  backend/gradlew
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/auth/application/AuthService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/LikeService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedResponse.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
  backend/src/main/java/com/wooteco/nolto/tech/application/TechService.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/Tech.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/TechRepository.java
  backend/src/main/java/com/wooteco/nolto/tech/ui/TechController.java
  backend/src/main/java/com/wooteco/nolto/tech/ui/dto/TechResponse.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/image/feed_thumbnail.jpg
  backend/src/main/resources/static/image/mickey.jpeg
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
  backend/src/test/java/com/wooteco/nolto/tech/domain/TechRepositoryTest.java
Labels: backend, feature

#107 feat: 예외 처리 핸들러 구현
  backend/src/main/java/com/wooteco/nolto/ErrorResponse.java
  backend/src/main/java/com/wooteco/nolto/ExceptionAdvice.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/TokenRequest.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedRequest.java
Labels: backend, feature

#109 [FE] chore: 환경 설정 추가
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Global.styles.ts
  frontend/src/index.tsx
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: chore, frontend

#114 [FE] feat: 로그인 창을 띄우기
  frontend/src/App.tsx
  frontend/src/assets/crossMark.svg
  frontend/src/components/@common/ModalProvider/ModalProvider.styles.ts
  frontend/src/components/@common/ModalProvider/ModalProvider.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/hooks/@common/useModal.ts
  frontend/src/hooks/queries/useHotFeeds.ts
  frontend/src/hooks/queries/useRecentFeeds.ts
  frontend/src/hooks/queries/useUploadFeed.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Upload/Upload.tsx
Labels: feature, frontend

#115 feat: feed tech 연관관계 매핑
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedTechService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/FeedTech.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/FeedTechRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedRequest.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/Tech.java
  backend/src/main/java/com/wooteco/nolto/tech/ui/dto/TechResponse.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
Labels: backend, feature

#116 deploy: feed tech 적용을 위한 배포
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedTechService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/FeedTech.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/FeedTechRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedRequest.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/Tech.java
  backend/src/main/java/com/wooteco/nolto/tech/ui/dto/TechResponse.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
  frontend/src/App.tsx
  frontend/src/assets/crossMark.svg
  frontend/src/components/@common/ModalProvider/ModalProvider.styles.ts
  frontend/src/components/@common/ModalProvider/ModalProvider.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/hooks/@common/useModal.ts
  frontend/src/hooks/queries/useHotFeeds.ts
  frontend/src/hooks/queries/useRecentFeeds.ts
  frontend/src/hooks/queries/useUploadFeed.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Upload/Upload.tsx
Labels: backend, deploy

#117 fix(DataLoader): DataLoader prod 설정에도 적용되도록 변경
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
Labels: backend, bug

#118 hotfix: DataLoader Prod에 적용되도록 변경
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
Labels: backend, bug

#121 [FE] feat: FeedDetail 정보 보여주기
  frontend/src/App.tsx
  frontend/src/components/StretchCard/StretchCard.tsx
  frontend/src/constants/common.ts
  frontend/src/constants/routes.ts
  frontend/src/hooks/queries/useFeedDetail.ts
  frontend/src/pages/FeedDetail/FeedDetail.styles.ts
  frontend/src/pages/FeedDetail/FeedDetail.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/types.ts
  frontend/webpack.config.js
Labels: feature, frontend

#122 fix: post 요청 에러 수정
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/MemberArgumentResolver.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedTechService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/LikeService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/FeedRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/FeedTechRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/LikeRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedRequest.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedRepositoryTest.java
Labels: backend, bug

#123 deploy: post 요청 빠른 수정
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/MemberArgumentResolver.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedTechService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/LikeService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/FeedRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/FeedTechRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/LikeRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedRequest.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedRepositoryTest.java
  frontend/src/App.tsx
  frontend/src/components/StretchCard/StretchCard.tsx
  frontend/src/constants/common.ts
  frontend/src/constants/routes.ts
  frontend/src/hooks/queries/useFeedDetail.ts
  frontend/src/pages/FeedDetail/FeedDetail.styles.ts
  frontend/src/pages/FeedDetail/FeedDetail.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/types.ts
  frontend/webpack.config.js
Labels: backend, deploy

#124 fix: techs 이름 수정이 잘못됨
  backend/src/main/java/com/wooteco/nolto/WebConfig.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
Labels: backend, bug

#125 deploy: techs 이름 수정 적용
  backend/src/main/java/com/wooteco/nolto/WebConfig.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
Labels: backend, bug

#127 [FE] fix: 모달이 header 뒤로 숨어버리는 현상 수정
  frontend/index.html
  frontend/public/index.html
  frontend/src/components/@common/ModalProvider/ModalProvider.styles.ts
  frontend/src/components/@common/ModalProvider/ModalProvider.tsx
  frontend/tsconfig.json
Labels: bug, frontend

#131 [FE] feed 업로드 시 tech 배열 함께 전송
  frontend/src/components/@common/FileInput/FileInput.styles.ts
  frontend/src/components/@common/FormInput/FormInput.styles.ts
  frontend/src/components/@common/Label/Label.styles.ts
  frontend/src/components/@common/RadioButton/RadioButton.styles.ts
  frontend/src/components/@common/TextArea/TextArea.styles.ts
  frontend/src/components/@common/Toggle/Toggle.styles.ts
  frontend/src/components/TechInput/TechInput.stories.tsx
  frontend/src/components/TechInput/TechInput.styles.ts
  frontend/src/components/TechInput/TechInput.tsx
  frontend/src/hooks/queries/useTechs.ts
  frontend/src/pages/Upload/Upload.styles.ts
  frontend/src/pages/Upload/Upload.tsx
Labels: feature, frontend, refactor

#136 fix(): 단일 조회에서 수정 날짜 제거
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedResponse.java
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
Labels: backend, bug

#137 fix(): 단일 조회에서 수정 날짜 제거
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedResponse.java
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
Labels: backend, bug

#140 [FE] refactor: StretchCard의 크기 작게 조정
  frontend/src/commonStyles.ts
  frontend/src/components/@common/Avatar/Avatar.styles.ts
  frontend/src/components/StretchCard/StretchCard.styles.ts
  frontend/src/components/StretchCard/StretchCard.tsx
  frontend/src/pages/Home/Home.tsx
Labels: frontend, refactor

#143 [FE] TechChip 컴포넌트 구현, index signiture 삭제, 스토리북 정상화
  frontend/.storybook/preview-body.html
  frontend/.storybook/preview.js
  frontend/src/components/@common/Chip/Chip.styles.ts
  frontend/src/components/@common/ModalProvider/ModalProvider.stories.tsx
  frontend/src/components/LoginModal/LoginModal.stories.tsx
  frontend/src/components/StretchCard/StretchCard.stories.tsx
  frontend/src/components/StretchCard/StretchCard.tsx
  frontend/src/components/TechChip/TechChip.stories.tsx
  frontend/src/components/TechChip/TechChip.styles.ts
  frontend/src/components/TechChip/TechChip.tsx
  frontend/src/components/TechInput/TechInput.stories.tsx
  frontend/src/hooks/queries/useUploadFeed.ts
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Upload/Upload.tsx
  frontend/src/types.ts
Labels: feature, frontend

#145 [FE] Upload 페이지 최소 구현 기능 완료
  frontend/custom.d.ts
  frontend/src/assets/arrowUp.svg
  frontend/src/components/@common/ErrorMessage/ErrorMessage.stories.tsx
  frontend/src/components/@common/ErrorMessage/ErrorMessage.styles.ts
  frontend/src/components/@common/ErrorMessage/ErrorMessage.tsx
  frontend/src/components/@common/FileInput/FileInput.styles.ts
  frontend/src/components/@common/Toggle/Toggle.styles.ts
  frontend/src/components/TechInput/TechInput.styles.ts
  frontend/src/constants/api.ts
  frontend/src/constants/message.ts
  frontend/src/pages/Upload/Upload.styles.ts
  frontend/src/pages/Upload/Upload.tsx
Labels: feature, frontend

#141 [FE] refactor: FeedDetail 페이지 요소 크기 작게 조정
  frontend/src/pages/FeedDetail/FeedDetail.styles.ts
  frontend/src/pages/FeedDetail/FeedDetail.tsx
Labels: frontend, refactor

#139 [FE] feat: Home의 Hot Toys 보여줄 개수 설정, carousel 구현
  frontend/package.json
  frontend/src/assets/carouselArrow.svg
  frontend/src/components/LevelLinkButton/LevelLinkButton.styles.ts
  frontend/src/components/RegularCard/RegularCard.styles.ts
  frontend/src/hooks/@common/useOnScreen.ts
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: feature, frontend, refactor

#135 [FE] feat: header의 search icon 클릭 시 searchbar 열리는 기능 구현
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Searchbar/Searchbar.styles.ts
  frontend/src/components/Searchbar/Searchbar.tsx
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
Labels: feature, frontend

#150 [FE] feat: RecentFeeds 페이지 구현
  frontend/src/App.tsx
  frontend/src/constants/api.ts
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/RecentFeeds/RecentFeeds.stories.tsx
  frontend/src/pages/RecentFeeds/RecentFeeds.styles.ts
  frontend/src/pages/RecentFeeds/RecentFeeds.tsx
Labels: feature, frontend

#152 [FE] feat: 로그인 기능 구현
  frontend/src/App.tsx
  frontend/src/assets/googleLogo.svg
  frontend/src/components/@common/ModalProvider/ModalProvider.tsx
  frontend/src/components/@common/TextInput/TextInput.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/LoginModal/LoginModal.styles.ts
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/regex.ts
  frontend/src/hooks/@common/useModal.ts
  frontend/src/hooks/@common/useUserInfo.ts
  frontend/src/hooks/queries/useLogin.ts
  frontend/src/pages/Upload/Upload.tsx
  frontend/src/storage/user/UserInfoProvider.tsx
  frontend/src/types.ts
Labels: feature, frontend

#154 [FE] chore: netlify routing을 위한 파일 설정
  frontend/public/netlify.toml
Labels: frontend

#156 [FE] fix: ErrorMesage 폰트 크기, 레이아웃 수정
  frontend/src/components/@common/ErrorMessage/ErrorMessage.styles.ts
Labels: frontend, refactor

#160 [FE] netlify redirect, production mode를 위한 설정 변경
  frontend/package.json
  frontend/public/_redirects
  frontend/public/netlify.toml
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: bug, frontend

#163 [FE] refactor: 피드 상세 페이지의 콘텐츠 개행을 위한 태그 변경(pre 태그)
  frontend/src/pages/FeedDetail/FeedDetail.styles.ts
Labels: bug, frontend

#158 [FE] fix: 조립중 단계 칩이 '진행중'이라 표시되던 문제 수정
  frontend/src/components/RegularCard/RegularCard.styles.ts
  frontend/src/components/TechChip/TechChip.styles.ts
  frontend/src/constants/common.ts
Labels: bug, frontend

#157 [FE] fix: Upload 페이지 레이아웃 수정
  frontend/src/pages/Upload/Upload.styles.ts
Labels: frontend, refactor

#161 [FE] refactor: 스타일링 일부 수정
  frontend/src/components/CroppedEllipse/CroppedEllipse.styles.ts
  frontend/src/components/CroppedEllipse/CroppedEllipse.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/RegularCard/RegularCard.styles.ts
  frontend/src/components/RegularCard/RegularCard.tsx
  frontend/src/components/SearchBar/SearchBar.stories.tsx
  frontend/src/components/SearchBar/SearchBar.styles.ts
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/components/Searchbar/Searchbar.stories.tsx
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
Labels: frontend, refactor

#168 [FE] fix: mac에서 ErrorMessage 스타일링 깨지는 버그 수정
  frontend/src/components/@common/ErrorMessage/ErrorMessage.styles.ts
  frontend/src/components/@common/ErrorMessage/ErrorMessage.tsx
Labels: bug, frontend

#171 [FE] fix: 새로고침하면 로그인이 풀리는 문제 수정
  frontend/src/hooks/@common/useUserInfo.ts
  frontend/src/storage/user/UserInfoProvider.tsx
Labels: bug, frontend

#166 [FE] fix: Feed 내용이 많을 시 Card에서 내용이 넘쳐보이는 버그 수정
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/RegularCard/RegularCard.styles.ts
  frontend/src/components/StretchCard/StretchCard.styles.ts
  frontend/src/components/StretchCard/StretchCard.tsx
Labels: bug, frontend

#175 [FE] refactor: FeedDetail 페이지 비율 축소
  frontend/src/pages/FeedDetail/FeedDetail.styles.ts
  frontend/src/pages/FeedDetail/FeedDetail.tsx
Labels: frontend, refactor

#181 feat: Github Oauth 로그인 기능 구현
  backend/build.gradle
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/feed.adoc
  backend/src/docs/asciidoc/tech.adoc
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/auth/application/AuthService.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/AuthController.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/OauthController.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/GithubUserResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/OauthRedirectResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/OauthTokenResponse.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/java/com/wooteco/nolto/user/domain/UserRepository.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/BaseEntityTest.java
  backend/src/test/java/com/wooteco/nolto/api/AuthControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
  backend/src/test/resources/org/springframework/restdocs/templates/asciidoctor/path-parameters.snippet
  backend/src/test/resources/org/springframework/restdocs/templates/asciidoctor/request-fields.snippet
  backend/src/test/resources/org/springframework/restdocs/templates/asciidoctor/request-parameters.snippet
  backend/src/test/resources/org/springframework/restdocs/templates/asciidoctor/response-fileds.snippet
Labels: backend, feature

#187 fix: Oauth login 로직 수정
  backend/src/main/java/com/wooteco/nolto/auth/application/AuthService.java
Labels: backend, bug

#189 [FE] feat: TechInput debounce 구현
  frontend/src/App.tsx
  frontend/src/components/TechInput/TechInput.tsx
  frontend/src/hooks/@common/useQueryDebounce.ts
Labels: feature, frontend

#194 [FE] github, google OAuth 로그인 구현 및 로딩 컴포넌트 제작
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/loading.gif
  frontend/src/components/@common/Loading/Loading.stories.tsx
  frontend/src/components/@common/Loading/Loading.styles.ts
  frontend/src/components/@common/Loading/Loading.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/useOAuthLogin.ts
  frontend/src/hooks/useUserInfo.ts
  frontend/src/pages/OAuth/OAuth.tsx
  frontend/src/types.ts
  frontend/webpack.config.js
Labels: feature, frontend

#200 [FE] feat: ErrorBoundary, Suspense 구현
  frontend/src/App.tsx
  frontend/src/components/AsyncBoundary.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/hooks/queries/useHotFeeds.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/utils/CustomError.ts
  frontend/src/utils/HttpError.ts
Labels: enhancement, feature, frontend

#198 [FE] feat: 스낵바 구현
  frontend/.storybook/preview-body.html
  frontend/.storybook/preview.js
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/assets/errorSign.svg
  frontend/src/assets/successSign.svg
  frontend/src/components/Header/Header.tsx
  frontend/src/components/LoginModal/LoginModal.stories.tsx
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/context/modal/ModalProvider.styles.ts
  frontend/src/context/modal/ModalProvider.tsx
  frontend/src/context/modal/useModal.ts
  frontend/src/context/snackBar/SnackBarProvider.stories.tsx
  frontend/src/context/snackBar/SnackBarProvider.styles.ts
  frontend/src/context/snackBar/SnackBarProvider.tsx
  frontend/src/context/snackBar/useSnackBar.ts
  frontend/src/context/snackBar/useSnackBarProvider.ts
  frontend/src/context/userInfo/UserInfoProvider.tsx
  frontend/src/hooks/useUserInfo.ts
  frontend/src/types.ts
Labels: feature, frontend

#205 [FE] FeedDetailContent 컴포넌트 구현
  frontend/.storybook/preview.js
  frontend/src/components/FeedDetailContent/FeedDetailContent.stories.tsx
  frontend/src/components/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/components/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/context/modal/ModalProvider.styles.ts
  frontend/src/hooks/queries/useFeedDetail.ts
  frontend/src/pages/FeedDetail/FeedDetail.styles.ts
  frontend/src/pages/FeedDetail/FeedDetail.tsx
Labels: feature, frontend

#201 feat: 피드 수정/삭제 기능 구현
  backend/src/docs/asciidoc/feed.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedTechService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/FeedTechRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedRequest.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
  backend/src/test/resources/org/springframework/restdocs/templates/asciidoctor/path-parameters.snippet
  backend/src/test/resources/org/springframework/restdocs/templates/asciidoctor/request-fields.snippet
  backend/src/test/resources/org/springframework/restdocs/templates/asciidoctor/request-parameters.snippet
  backend/src/test/resources/org/springframework/restdocs/templates/asciidoctor/response-fileds.snippet
Labels: backend, feature, refactor

#209 feat: 피드 검색 기능 구현
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedTechService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/NoneStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/QueryAndTechsStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/QueryOnlyStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/SearchStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/SearchStrategyConfig.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/SearchStrategyFactory.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/TechsOnlyStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/FeedTech.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/FeedRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/repository/FeedTechRepository.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedCardResponse.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/TechRepository.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedTechServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/searchstrategy/SearchStrategyFactoryTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTechRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/tech/domain/TechRepositoryTest.java
Labels: backend, feature

#202 refactor(): 요청에 썸네일 이미지가 없을 시 기본 이미지를 저장
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
  backend/src/main/resources/application.yml
Labels: backend, refactor

#203 feat(): 멤버 정보 조회 기능 추가
  backend/src/main/java/com/wooteco/nolto/auth/application/AuthService.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/MemberArgumentResolver.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
  backend/src/main/java/com/wooteco/nolto/user/application/UserService.java
  backend/src/main/java/com/wooteco/nolto/user/ui/UserController.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/MemberResponse.java
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/UserControllerTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserRepositoryTest.java
Labels: backend, refactor

#207 refactor(OAuth 로그인): OAuth 로그인 기능 코드 리팩토링
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/wooteco/nolto/BadRequestException.java
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/SocialAccessException.java
  backend/src/main/java/com/wooteco/nolto/auth/AuthenticationPrincipalConfig.java
  backend/src/main/java/com/wooteco/nolto/auth/application/AuthService.java
  backend/src/main/java/com/wooteco/nolto/auth/domain/OAuthClient.java
  backend/src/main/java/com/wooteco/nolto/auth/domain/OAuthClientProvider.java
  backend/src/main/java/com/wooteco/nolto/auth/domain/SocialOAuthInfo.java
  backend/src/main/java/com/wooteco/nolto/auth/domain/SocialOAuthInfoProvider.java
  backend/src/main/java/com/wooteco/nolto/auth/domain/SocialType.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/GithubClient.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/GithubOAuthInfo.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/GoogleClient.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/GoogleOAuthInfo.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/OAuthClientDetail.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/dto/GithubUserResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/dto/GoogleUserResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/dto/OAuthUserResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/GithubOauthController.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/GoogleOauthController.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/OAuthController.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/GithubRedirectResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/GithubUserResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/GoogleRedirectResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/GoogleUserResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/OAuthRedirectResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/dto/OAuthTokenResponse.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/main/java/com/wooteco/nolto/user/domain/UserRepository.java
  backend/src/main/java/com/wooteco/nolto/user/ui/dto/MemberResponse.java
  backend/src/test/java/com/wooteco/nolto/BaseEntityTest.java
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/OAuthControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/UserControllerTest.java
  backend/src/test/java/com/wooteco/nolto/auth/application/AuthServiceTest.java
  backend/src/test/java/com/wooteco/nolto/auth/domain/OAuthClientProviderTest.java
  backend/src/test/java/com/wooteco/nolto/auth/domain/SocialOAuthInfoProviderTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedTechServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTechRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserTest.java
Labels: backend, refactor

#216 [FE] feat: SearchBar에 선택 옵션 추가
  frontend/src/assets/downPolygon.svg
  frontend/src/components/SearchBar/SearchBar.stories.tsx
  frontend/src/components/SearchBar/SearchBar.styles.ts
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
Labels: feature, frontend

#214 [FE] TechInput, TechChip 컴포넌트 분리
  frontend/src/components/StepChip/StepChip.stories.tsx
  frontend/src/components/StepChip/StepChip.styles.ts
  frontend/src/components/StepChip/StepChip.tsx
  frontend/src/components/StretchCard/StretchCard.tsx
  frontend/src/components/TechChip/TechChip.stories.tsx
  frontend/src/components/TechInput/TechInput.stories.tsx
  frontend/src/context/techTag/TechTagProvider.stories.tsx
  frontend/src/context/techTag/TechTagProvider.tsx
  frontend/src/context/techTag/chip/TechChips.styles.ts
  frontend/src/context/techTag/chip/TechChips.tsx
  frontend/src/context/techTag/input/TechInput.styles.ts
  frontend/src/context/techTag/input/TechInput.tsx
  frontend/src/context/techTag/useTechTag.ts
  frontend/src/hooks/queries/useTechs.ts
  frontend/src/pages/Upload/Upload.tsx
Labels: feature, frontend

#219 feat: 에러를 전략에 맞게 패키지 분리 및 클래스 생성
  backend/src/main/java/com/wooteco/nolto/AuthorizationException.java
  backend/src/main/java/com/wooteco/nolto/BadRequestException.java
  backend/src/main/java/com/wooteco/nolto/ErrorResponse.java
  backend/src/main/java/com/wooteco/nolto/ExceptionAdvice.java
  backend/src/main/java/com/wooteco/nolto/NotFoundException.java
  backend/src/main/java/com/wooteco/nolto/SocialAccessException.java
  backend/src/main/java/com/wooteco/nolto/auth/application/AuthService.java
  backend/src/main/java/com/wooteco/nolto/auth/domain/OAuthClientProvider.java
  backend/src/main/java/com/wooteco/nolto/auth/domain/SocialOAuthInfoProvider.java
  backend/src/main/java/com/wooteco/nolto/auth/domain/SocialType.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/GoogleClient.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/OAuthClientDetail.java
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/dto/GithubUserResponse.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/MemberArgumentResolver.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/UserArgumentResolver.java
  backend/src/main/java/com/wooteco/nolto/exception/BadRequestException.java
  backend/src/main/java/com/wooteco/nolto/exception/ControllerAdvice.java
  backend/src/main/java/com/wooteco/nolto/exception/ErrorType.java
  backend/src/main/java/com/wooteco/nolto/exception/InternalServerErrorException.java
  backend/src/main/java/com/wooteco/nolto/exception/NoltoException.java
  backend/src/main/java/com/wooteco/nolto/exception/NotFoundException.java
  backend/src/main/java/com/wooteco/nolto/exception/UnauthorizedException.java
  backend/src/main/java/com/wooteco/nolto/exception/dto/ExceptionResponse.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/LikeService.java
  backend/src/main/java/com/wooteco/nolto/feed/application/searchstrategy/SearchStrategyFactory.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/FilterStrategy.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Step.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
  backend/src/main/java/com/wooteco/nolto/user/domain/User.java
  backend/src/test/java/com/wooteco/nolto/auth/application/AuthServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  backend/src/test/java/com/wooteco/nolto/feed/application/searchstrategy/SearchStrategyFactoryTest.java
  backend/src/test/java/com/wooteco/nolto/feed/domain/FeedTest.java
  backend/src/test/java/com/wooteco/nolto/tech/domain/TechRepositoryTest.java
  backend/src/test/java/com/wooteco/nolto/user/domain/UserRepositoryTest.java
Labels: backend, feature

#222 feat(): flyway 초기 설정 적용
  backend/build.gradle
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1__init.sql
Labels: backend

#221 [FE] feat: Notification (Provider) 컴포넌트 구현
  frontend/.storybook/preview-body.html
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/context/modal/ModalProvider.styles.ts
  frontend/src/context/notification/NotificationProvider.stories.tsx
  frontend/src/context/notification/NotificationProvider.styles.ts
  frontend/src/context/notification/NotificationProvider.tsx
  frontend/src/context/notification/useNotification.ts
  frontend/src/context/snackBar/SnackBarProvider.stories.tsx
  frontend/src/context/snackBar/SnackBarProvider.styles.ts
  frontend/src/context/snackBar/useSnackBar.ts
  frontend/src/context/techTag/input/TechInput.tsx
  frontend/src/types.ts
Labels: feature, frontend

#196 [FE] feat: recent 페이지의 filter 기능 구현
  frontend/src/App.tsx
  frontend/src/components/LevelButton/LevelButton.stories.tsx
  frontend/src/components/LevelButton/LevelButton.styles.ts
  frontend/src/components/LevelButton/LevelButton.tsx
  frontend/src/components/LevelLinkButton/LevelLinkButton.stories.tsx
  frontend/src/components/LevelLinkButton/LevelLinkButton.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.stories.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.styles.ts
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/constants/routes.ts
  frontend/src/hooks/queries/useRecentFeeds.ts
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/RecentFeeds/RecentFeeds.styles.ts
  frontend/src/pages/RecentFeeds/RecentFeeds.tsx
  frontend/src/types.ts
Labels: feature, frontend

#227 fix: feed 업로드 시 이미지 수정이 안되는 버그 수정
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
Labels: backend, bug

#233 test(): localstack을 이용하여 s3 관련 이미지 테스트
  backend/build.gradle
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
  backend/src/main/java/com/wooteco/nolto/image/config/ImageConfig.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/config/LocalStackS3Config.java
  backend/src/test/java/com/wooteco/nolto/image/application/ImageServiceTest.java
  backend/src/test/resources/static/amazzi.jpeg
  backend/src/test/resources/static/nolto-default-thumbnail.png
  backend/src/test/resources/static/pretty_cat.png
Labels: 🔰 feature, 🚀 backend

#237 feat: 검색 기능에 필터링 기능 추가
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
Labels: 🔰 feature, 🚀 backend

#239 feat(Tech): 기술 이름으로 검색하여 이름과 정확하게 일치하는 기술들만 반환하는 api 구현
  backend/src/docs/asciidoc/tech.adoc
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedTechService.java
  backend/src/main/java/com/wooteco/nolto/tech/application/TechService.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/Tech.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/TechRepository.java
  backend/src/main/java/com/wooteco/nolto/tech/ui/TechController.java
  backend/src/test/java/com/wooteco/nolto/api/TechControllerTest.java
  backend/src/test/java/com/wooteco/nolto/tech/application/TechServiceTest.java
  backend/src/test/java/com/wooteco/nolto/tech/domain/TechRepositoryTest.java
Labels: 🔰 feature, 🚀 backend

#241 [FE] feat: FeedUploadForm에 툴팁과 설명 추가
  frontend/src/assets/questionMark.svg
  frontend/src/assets/toybox.svg
  frontend/src/components/@common/Dropdown/Dropdown.styles.ts
  frontend/src/components/@common/Tooltip/Tooltip.stories.tsx
  frontend/src/components/@common/Tooltip/Tooltip.styles.ts
  frontend/src/components/@common/Tooltip/Tooltip.tsx
  frontend/src/components/FeedDropdown/FeedDropdown.tsx
  frontend/src/components/FeedUploadForm/FeedUploadForm.styles.ts
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
Labels: 🌈 frontend, 💪 enhancement

#230 [FE] custom error fallback 만들기
  frontend/custom.d.ts
  frontend/src/App.tsx
  frontend/src/Global.styles.ts
  frontend/src/assets/catError.jpeg
  frontend/src/components/@common/ErrorFallback/ErrorFallback.stories.tsx
  frontend/src/components/@common/ErrorFallback/ErrorFallback.styles.ts
  frontend/src/components/@common/ErrorFallback/ErrorFallback.tsx
  frontend/src/components/@common/Loading/Loading.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/components/HotFeedsContent/HotFeedsContent.stories.tsx
  frontend/src/components/HotFeedsContent/HotFeedsContent.styles.ts
  frontend/src/components/HotFeedsContent/HotFeedsContent.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/constants/palette.ts
  frontend/src/hooks/queries/useFeedDetail.ts
  frontend/src/hooks/queries/useHotFeeds.ts
  frontend/src/hooks/queries/useRecentFeeds.ts
  frontend/src/pages/FeedDetail/FeedDetail.tsx
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Modify/Modify.tsx
  frontend/src/pages/OAuth/OAuth.styles.ts
  frontend/src/pages/OAuth/OAuth.tsx
  frontend/src/types.ts
  frontend/src/utils/CustomError.ts
  frontend/src/utils/HttpError.ts
Labels: 🌈 frontend, 🔰 feature

#248 feat(): 로깅 전략에 따른 로깅 설정
  backend/src/main/java/com/wooteco/nolto/exception/ControllerAdvice.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback-spring.xml
Labels: 🚀 backend

#251 fix(logging): logback-spring.xml 오류나는 설정 수정 및 그에 맞게 application.yml 수정
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback-spring.xml
Labels: 🐞 bug, 🚀 backend

#253 fix: 예외 코드 수정
  backend/src/main/java/com/wooteco/nolto/feed/domain/FilterStrategy.java
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
Labels: 🐞 bug, 🚀 backend

#255 feat: 인수테스트를 위한 설정 파일 추가
  backend/build.gradle
  backend/src/main/java/com/wooteco/nolto/image/application/ImageService.java
  backend/src/test/java/com/wooteco/nolto/acceptance/AcceptanceTest.java
Labels: 🔰 feature, 🚀 backend

#254 [FE] feat: 검색 결과 페이지에서 피드 상태로 필터링 기능 구현
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/SearchResultContent/SearchResultContent.styles.ts
  frontend/src/components/SearchResultContent/SearchResultContent.tsx
  frontend/src/components/SearchResultHeader/SearchResultHeader.styles.ts
  frontend/src/hooks/queries/useSearch.ts
  frontend/src/pages/RecentFeeds/RecentFeeds.styles.ts
  frontend/src/pages/SearchResult/SearchResult.styles.ts
  frontend/src/pages/SearchResult/SearchResult.tsx
Labels: 🌈 frontend, 🔰 feature

#257 [FE] fix: uploadform의 techinput 가리는 버그 수정
  frontend/src/components/CroppedEllipse/CroppedEllipse.styles.ts
  frontend/src/context/techTag/input/TechInput.styles.ts
  frontend/src/pages/Modify/Modify.tsx
Labels: 🌈 frontend, 🐞 bug, 💪 enhancement

#265 fix(Resolver) : UserArgumentResolver 등록
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/auth/AuthenticationPrincipalConfig.java
Labels: 🐞 bug, 🚀 backend

#262 [FE] 토큰 만료 시 자동 로그아웃 기능
  frontend/.storybook/preview.js
  frontend/src/App.tsx
  frontend/src/components/@common/ErrorMessage/ErrorMessage.styles.ts
  frontend/src/components/@common/HighlightedText/HighlightedText.styles.ts
  frontend/src/components/@common/Tooltip/Tooltip.styles.ts
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/LoginModal/LoginModal.styles.ts
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/components/SearchResultHeader/SearchResultHeader.styles.ts
  frontend/src/constants/zIndex.ts
  frontend/src/context/modal/ModalProvider.styles.ts
  frontend/src/context/notification/NotificationProvider.styles.ts
  frontend/src/context/snackBar/SnackBarProvider.styles.ts
  frontend/src/context/techTag/input/TechInput.styles.ts
  frontend/src/context/userInfo/UserInfoProvider.tsx
  frontend/src/hooks/queries/useFeedDetail.ts
  frontend/src/hooks/queries/useFeedLike.ts
  frontend/src/hooks/queries/useFeedUnlike.ts
  frontend/src/hooks/queries/useHotFeeds.ts
  frontend/src/hooks/queries/useMember.tsx
  frontend/src/hooks/queries/useRecentFeeds.ts
  frontend/src/hooks/queries/useSearch.ts
  frontend/src/hooks/queries/useTechAutoComplete.ts
  frontend/src/hooks/queries/useTechs.ts
  frontend/src/hooks/useOAuthLogin.ts
  frontend/src/hooks/useUserInfo.ts
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/types.ts
Labels: 🌈 frontend, 🔰 feature

#263 [FE] feat: 헤더의 UserProfile 마크업
  frontend/src/assets/downPolygon.svg
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/UserProfile/UserProfile.stories.tsx
  frontend/src/components/UserProfile/UserProfile.styles.ts
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/context/notification/NotificationProvider.tsx
  frontend/src/hooks/queries/useFeedLike.ts
  frontend/src/hooks/queries/useFeedUnlike.ts
  frontend/src/hooks/queries/useLogin.ts
  frontend/src/hooks/queries/useMember.tsx
  frontend/src/types.ts
Labels: 🌈 frontend, 🔰 feature

#267 [FE] 좋아요 기능 구현
  frontend/src/assets/filledLikeHeart.svg
  frontend/src/assets/likeHeart.svg
  frontend/src/assets/viewCount.svg
  frontend/src/components/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/components/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/components/LikeButton/LikeButton.styles.ts
  frontend/src/components/LikeButton/LikeButton.tsx
  frontend/src/hooks/queries/useFeedLike.ts
  frontend/src/hooks/queries/useFeedUnlike.ts
Labels: 🌈 frontend, 🔰 feature

#271 [FE] feat: 서버 error code 매핑
  frontend/src/components/FeedDropdown/FeedDropdown.tsx
  frontend/src/components/LikeButton/LikeButton.styles.ts
  frontend/src/components/LikeButton/LikeButton.tsx
  frontend/src/components/RecentFeedsContent/RecentFeedsContent.tsx
  frontend/src/components/SearchOption/SearchOption.tsx
  frontend/src/components/SearchResultContent/SearchResultContent.tsx
  frontend/src/components/SearchResultHeader/SearchResultHeader.tsx
  frontend/src/constants/errorCode.ts
  frontend/src/context/techTag/input/TechInput.tsx
  frontend/src/hooks/mutations/useFeedDelete.ts
  frontend/src/hooks/mutations/useFeedLike.ts
  frontend/src/hooks/mutations/useFeedModify.ts
  frontend/src/hooks/mutations/useFeedUnlike.ts
  frontend/src/hooks/mutations/useFeedUpload.ts
  frontend/src/hooks/queries/useFeedDelete.ts
  frontend/src/hooks/queries/useFeedDetail.ts
  frontend/src/hooks/queries/useFeedModify.ts
  frontend/src/hooks/queries/useFeedUpload.ts
  frontend/src/hooks/queries/useHotFeeds.ts
  frontend/src/hooks/queries/useMember.tsx
  frontend/src/hooks/queries/useRecentFeeds.ts
  frontend/src/hooks/queries/useSearch.ts
  frontend/src/hooks/queries/useTechAutoComplete.ts
  frontend/src/hooks/queries/useTechs.ts
  frontend/src/pages/Modify/Modify.tsx
  frontend/src/pages/Upload/Upload.tsx
Labels: 🌈 frontend, 🔰 feature

#274 [FE] 좋아요 에러 코드에 따른 행동 분기 처리, 글 작성자가 아닐 시 글 수정, 삭제 불가
  frontend/src/components/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/components/LikeButton/LikeButton.tsx
  frontend/src/constants/errorCodeMap.ts
  frontend/src/hooks/mutations/useFeedDelete.ts
  frontend/src/hooks/mutations/useFeedLike.ts
  frontend/src/hooks/mutations/useFeedModify.ts
  frontend/src/hooks/mutations/useFeedUnlike.ts
  frontend/src/hooks/mutations/useFeedUpload.ts
  frontend/src/hooks/queries/useFeedDetail.ts
  frontend/src/hooks/queries/useHotFeeds.ts
  frontend/src/hooks/queries/useMember.tsx
  frontend/src/hooks/queries/useRecentFeeds.ts
  frontend/src/hooks/queries/useSearch.ts
  frontend/src/hooks/queries/useTechAutoComplete.ts
  frontend/src/hooks/queries/useTechs.ts
  frontend/src/types.ts
  frontend/src/utils/HttpError.ts
  frontend/src/utils/error.ts
  frontend/src/utils/typeGuard.ts
Labels: 🌈 frontend, 🐞 bug

#278 feat: 로그인한 유저만 접속 가능한 PrivateRoute 구현
  frontend/src/App.tsx
  frontend/src/components/PrivateRoute.tsx
  frontend/src/utils/error.ts
  frontend/src/utils/typeGuard.ts
Labels: 🌈 frontend, 💪 enhancement

#272 test: 검색기능 RestDocs 작성
  backend/src/docs/asciidoc/feed.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/test/java/com/wooteco/nolto/api/FeedControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/OAuthControllerTest.java
  backend/src/test/java/com/wooteco/nolto/api/TechControllerTest.java
Labels: 🔬 test, 🚀 backend

#279 feat: 조엘의 웹 호스팅 추가
  frontend/src/components/Header/Header.tsx
Labels: 🌈 frontend, 🔰 feature

#280 fix: 피드 수정 시 태그 추가 버그
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
  frontend/package.json
Labels: 🐞 bug, 🚀 backend

#281 [BE] 기술 스택 중복에 대한 validation 적용
  backend/src/main/java/com/wooteco/nolto/DataLoader.java
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/dto/FeedRequest.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/TechValid.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/TechValidator.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/wooteco/nolto/feed/application/FeedServiceTest.java
Labels: 🔨 refactor, 🚀 backend

#270 test: User 인수 테스트 작성
  backend/src/test/java/com/wooteco/nolto/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/UserAcceptanceTest.java
Labels: 🔬 test, 🚀 backend

#287 test(Tech): Tech 인수 테스트 작성
  backend/src/test/java/com/wooteco/nolto/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/TechAcceptanceTest.java
Labels: 🔰 feature, 🚀 backend

#285 test: 토큰 관련 피드 인수 테스트 코드 작성
  backend/src/test/java/com/wooteco/nolto/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
Labels: 🔬 test, 🚀 backend

#282 refactor: cascade 고아 객체 적용
  backend/src/main/java/com/wooteco/nolto/feed/application/FeedService.java
  backend/src/main/java/com/wooteco/nolto/feed/domain/Feed.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/TechValidator.java
Labels: 🔨 refactor, 🚀 backend

#288 feat(): 토큰이 필요하지 않는 feed 관련 인수테스트 구현
  backend/src/test/java/com/wooteco/nolto/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
Labels: 🔬 test, 🚀 backend

#292 Fix/backend/interceptor path
  backend/src/main/java/com/wooteco/nolto/auth/AuthenticationPrincipalConfig.java
  backend/src/main/java/com/wooteco/nolto/auth/ValidTokenRequired.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/AuthInterceptor.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/MemberArgumentResolver.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/OAuthController.java
  backend/src/main/java/com/wooteco/nolto/auth/ui/UserArgumentResolver.java
  backend/src/main/java/com/wooteco/nolto/feed/ui/FeedController.java
  backend/src/main/java/com/wooteco/nolto/user/ui/UserController.java
  backend/src/test/java/com/wooteco/nolto/acceptance/FeedAcceptanceTest.java
Labels: 🐞 bug, 🚀 backend

#293 refactor: 이미지 관련 요청 10MB 까지 허용하도록 수정
  backend/src/main/resources/application.yml
Labels: 🔨 refactor, 🚀 backend

#295 fix(GithubUserResponse): 깃허브 가입 시 닉네임이 없으면 생기는 버그 수정
  backend/src/main/java/com/wooteco/nolto/auth/infrastructure/oauth/dto/GithubUserResponse.java
Labels: 🐞 bug, 🚀 backend

#296 feat(logging): Error 레벨에서 log파일에 StackTrace를 출력하도록 변경 ༼;´༎ຶ ۝ ༎ຶ༽ 𝙒𝙝𝙮𝙧𝙖𝙣𝙤...
  backend/src/main/java/com/wooteco/nolto/exception/ControllerAdvice.java
Labels: 🔰 feature, 🚀 backend

#291 [FE] chore: RTL 초기 환경설정
  frontend/jest.config.js
  frontend/package.json
  frontend/src/__mocks__/fixture/Feeds.ts
  frontend/src/__mocks__/fixture/User.ts
  frontend/src/__mocks__/msw/handlers.ts
  frontend/src/__mocks__/msw/server.ts
  frontend/src/__tests__/hooks/useFeedUpload.test.tsx
  frontend/src/__tests__/hooks/useOAuthLogin.test.tsx
  frontend/src/__tests__/hooks/useRecentFeeds.test.tsx
  frontend/src/constants/__mocks__/api.ts
  frontend/src/constants/api.ts
  frontend/src/setUpTests.ts
  frontend/src/test-util.tsx
  frontend/src/types.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: 🌈 frontend, 🔬 test

#298 feat: 인기있는 기술 스택 조회 기능 추가
  backend/src/main/java/com/wooteco/nolto/tech/application/TechService.java
  backend/src/main/java/com/wooteco/nolto/tech/domain/TechRepository.java
  backend/src/main/java/com/wooteco/nolto/tech/ui/TechController.java
Labels: 🔰 feature, 🚀 backend

#303 feat(): logging-level error에 대한 슬랙 연동 알림 설정
  backend/build.gradle
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback-spring.xml
Labels: 🔰 feature, 🚀 backend

#304 Feature/backend/slack for logging
  backend/src/main/java/com/wooteco/nolto/NoltoApplication.java
  backend/src/main/resources/logback-spring.xml
Labels: 🔰 feature, 🚀 backend

#302 [FE] 피드 컨텐츠 관련 CSS 수정
  frontend/src/components/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/components/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/components/RegularCard/RegularCard.styles.ts
  frontend/src/components/StretchCard/StretchCard.styles.ts
Labels: 🌈 frontend, 🐞 bug

#314 feat(): 스택 트레이스만 WARN 레벨로 설정
  backend/src/main/java/com/wooteco/nolto/exception/ControllerAdvice.java
Labels: 🚀 backend

#308 [FE] fix: Home의 trends 태그 underline 버그 수정
  frontend/src/pages/Home/Home.styles.ts
  frontend/src/pages/Home/Home.tsx
Labels: 🌈 frontend, 🐞 bug

#309 [FE] refactor: 피드 수정 페이지 디테일 변경
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/constants/message.ts
  frontend/src/context/techTag/chip/TechChips.tsx
  frontend/src/pages/Modify/Modify.tsx
  frontend/src/pages/Upload/Upload.tsx
Labels: 🌈 frontend, 🔨 refactor

#311 [FE] feat: 피드 상세 페이지에서 기술스택 클릭으로 검색
  frontend/src/components/FeedDetailContent/FeedDetailContent.tsx
Labels: 🌈 frontend, 🔰 feature

#317 refactor(logging): 에러 로그의 StackTrace를 하나의 출력으로 찍도록 수정
  backend/src/main/java/com/wooteco/nolto/exception/ControllerAdvice.java
Labels: 🔨 refactor, 🚀 backend

#313 [FE] FeedDetail 스타일 전반적인 수정, ToggleList 컴포넌트 구현
  frontend/custom.d.ts
  frontend/src/components/@common/HighlightedText/HighlightedText.styles.ts
  frontend/src/components/@common/HighlightedText/HighlightedText.tsx
  frontend/src/components/@common/IconButton/IconButton.stories.tsx
  frontend/src/components/@common/IconButton/IconButton.styles.ts
  frontend/src/components/@common/IconButton/IconButton.tsx
  frontend/src/components/@common/ToggleList/ToggleList.stories.tsx
  frontend/src/components/@common/ToggleList/ToggleList.styles.ts
  frontend/src/components/@common/ToggleList/ToggleList.tsx
  frontend/src/components/FeedDetailContent/FeedDetailContent.styles.ts
  frontend/src/components/FeedDetailContent/FeedDetailContent.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/HotFeedsContent/HotFeedsContent.styles.ts
  frontend/src/components/HotFeedsContent/HotFeedsContent.tsx
Labels: 🌈 frontend, 🐞 bug

#319 [FE] refactor: 피드 업로드 폼 디자인 수정
  frontend/src/components/FeedUploadForm/FeedUploadForm.styles.ts
  frontend/src/components/FeedUploadForm/FeedUploadForm.tsx
  frontend/src/pages/Modify/Modify.styles.ts
  frontend/src/pages/Upload/Upload.styles.ts
Labels: 🌈 frontend, 🔨 refactor
